body {
  color: #1f3f5f;
  line-height: 1.5;
  font-weight: 400;
  word-wrap: break-word;
  overflow: hidden;
  font-family: "Microsoft YaHei", Consolas, KaiTi, monospace;
}
#loading {
  width: 100%;
  height: 3px;
  background-color: red;
}
.contents {
  margin-top: 20px;
}
/* a标签 */
a {
  color: #4ae8c4;
  text-decoration: none;
}
a:hover,
a:focus {
  background-color: #4ae8c4;
  color: #ffffff;
}
/* a标签 end */
/* h1~h6 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: normal;
}
/* h1~h6 end */
/* 代码块 */
pre {
  padding: 0px;
}
pre code {
  border-radius: 5px;
  font-family: Consolas, "Microsoft YaHei", KaiTi, "Courier New", monospace;
}
/* 代码块 end */
/* 行内代码 */
li code,
p code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #ccc;
  font-family: Consolas, "Microsoft YaHei", KaiTi, "Courier New", monospace;
}
/* 行内代码 end */
/* 引用 */
blockquote {
  border-left: 5px solid #ccc;
  margin-left: 20px;
  padding-left: 10px;
  font-family: "Comic Sans MS", KaiTi, Consolas, "Microsoft YaHei", "Courier New", monospace;
}
/* 引用 end */
/* 选中文本 */
::selection {
  background-color: #4ae8c4;
  color: #fff;
}
::-moz-selection {
  background-color: #4ae8c4;
  color: #fff;
}
/* 选中文本 end */
/* 表格 */
table {
  margin-left: 30px;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
thead {
  background-color: #6ec8c9;
}
tbody {
  background-color: #d0edee;
}
th,
td {
  padding: 6px 12px;
  border: 1px solid #ccc;
}
tbody tr:hover {
  background-color: #6ec8c9;
}
/* 表格 end */
/* 文章目录 */
#slide-panel {
  width: 520px;
  height: 100%;
  float: left;
}
.guid {
  width: 180px;
  height: 100%;
  float: left;
  color: #ccc;
  background-color: rgba(31, 63, 95, 0.9);
}
.guid .head-img {
  display: block;
  width: 180px;
  height: 180px;
  text-align: center;
  line-height: 180px;
}
.guid a:hover {
  background-color: #1f3f5f;
}
.guid ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
.guid ul li {
  padding: 10px 30px;
  cursor: pointer;
  display: flex;
  flex-wrap: row nowrap;
  align-items: stretch;
  justify-content: space-around;
}
.file-list {
  width: 320px;
  height: 100%;
  float: left;
  background-color: rgba(213, 213, 213, 0.9);
  overflow-y: auto;
}
.file-list .head-img-min {
  height: 50px;
  display: none;
}
.file-list .head-img-min img {
  height: 100%;
}
.file-list ul {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}
.file-list ul li {
  color: #1f3f5f;
}
.file-list ul li a {
  display: flex;
  flex-wrap: row nowrap;
  align-items: stretch;
  justify-content: space-between;
}
.file-list ul li a .title {
  color: #1f3f5f;
  text-align: left;
  padding: 5px 10px;
}
.file-list ul li a:hover {
  background-color: rgba(221, 221, 221, 0.5);
}
.file-list ul li a:hover .title {
  color: #c7254e;
  text-decoration: underline;
}
.file-list ul .date-tip {
  font-size: 14px;
  color: #c7254e;
  font-family: "Comic Sans MS", KaiTi, Consolas, "Microsoft YaHei", "Courier New", monospace;
}
/* 文章目录 end */
/* 文章显示 */
#contents {
  height: 100%;
  margin: 0;
  padding: 0 30px;
  overflow-y: auto;
}
#contents .contents-box {
  max-width: 1000px;
  margin: 0 auto;
}
/* 文章显示 end */
/* 切换按钮 */
#slider {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: #000;
  cursor: pointer;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  opacity: 0.5;
  z-index: 2;
}
/* 切换按钮 end */
/* <strong></strong>标签 */
strong {
  color: #c7254e;
}
/* <strong></strong>标签 end */
/* media query */
@media screen and (max-width: 640px) {
  #slide-panel {
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  #slide-panel .guid {
    display: none;
  }
  #slide-panel .file-list {
    width: 100%;
  }
  #slide-panel .file-list .head-img-min {
    display: block;
  }
  #contents {
    display: flex;
    flex-wrap: row wrap;
    align-items: stretch;
    justify-content: center;
  }
}
@media screen and (min-width: 641px) and (max-width: 1280px) {
  #slide-panel {
    position: fixed;
    z-index: 1;
  }
  #contents {
    display: flex;
    flex-wrap: row wrap;
    align-items: stretch;
    justify-content: center;
  }
}
/* media query end */
