body {
  color: #1f3f5f;
  line-height: 1.5;
  font-weight: 400;
  word-wrap: break-word;
  overflow: hidden;
  font-family: "Microsoft YaHei", Consolas, KaiTi, monospace;
}
#loading {
  width: 100%;
  height: 3px;
  background-color: red;
}
* {
  box-sizing: border-box;
}
/* a标签 */
a {
  color: #4ae8c4;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #4ac8c4;
  text-decoration: underline;
}
/* a标签 end */
/* h1~h6 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: normal;
}
h1 {
  text-align: center;
}
/* h1~h6 end */
/* 代码块 */
pre {
  padding: 0px;
}
pre code {
  border-radius: 5px;
  font-family: Consolas, "Microsoft YaHei", KaiTi, "Courier New", monospace;
}
/* 代码块 end */
/* 行内代码 */
li code,
p code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #eee;
  font-family: Consolas, "Microsoft YaHei", KaiTi, "Courier New", monospace;
}
/* 行内代码 end */
/* 引用 */
blockquote {
  border-left: 5px solid #ccc;
  margin-left: 20px;
  padding-left: 10px;
  font-family: "Comic Sans MS", KaiTi, Consolas, "Microsoft YaHei", "Courier New", monospace;
}
/* 引用 end */
/* 选中文本 */
::selection {
  background-color: #4ae8c4;
  color: #fff;
}
::-moz-selection {
  background-color: #4ae8c4;
  color: #fff;
}
/* 选中文本 end */
/* 表格 */
table {
  margin-left: 30px;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
thead {
  background-color: #6ec8c9;
}
tbody {
  background-color: #d0edee;
}
th,
td {
  padding: 6px 12px;
  border: 1px solid #ccc;
}
tbody tr:hover {
  background-color: #6ec8c9;
}
/* 表格 end */
/* <strong></strong>标签 */
strong {
  color: #c7254e;
}
/* <strong></strong>标签 end */
/* 文章目录 */
#slide-panel {
  height: 100%;
  float: left;
}
.guid {
  width: 180px;
  height: 100%;
  float: left;
  color: #ccc;
  background-color: #778EB1;
}
.guid .head-img {
  display: block;
  width: 180px;
  height: 180px;
  text-align: center;
  line-height: 180px;
}
.guid a:hover {
  background-color: #1f3f5f;
}
.guid ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
.guid ul li {
  padding: 10px 30px;
  cursor: pointer;
  display: flex;
  flex-wrap: row nowrap;
  align-items: stretch;
  justify-content: space-around;
}
.file-list {
  width: 320px;
  height: 100%;
  float: left;
  background-color: rgba(213, 213, 213, 0.3);
  overflow-y: auto;
}
.file-list .head-img-min {
  height: 50px;
  display: none;
}
.file-list .head-img-min img {
  height: 100%;
}
.file-list ul {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}
.file-list ul li {
  color: #1f3f5f;
}
.file-list ul li .title {
  display: block;
  width: 90%;
  color: #1f3f5f;
  text-align: left;
  padding: 5px 5%;
}
.file-list ul li .title:hover {
  background-color: rgba(221, 221, 221, 0.9);
  color: #c7254e;
  text-decoration: underline;
}
.file-list ul .date-tip {
  font-size: 14px;
  color: #c7254e;
  font-family: "Comic Sans MS", KaiTi, Consolas, "Microsoft YaHei", "Courier New", monospace;
}
/* 文章目录 end */
/* 文章显示 */
#contents {
  height: 100%;
  margin: 0;
  padding: 0 30px;
  overflow-y: auto;
}
#contents .contents-box {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
}
#contents .contents-box img {
  width: auto;
  max-width: 100%;
}
/* 文章显示 end */
/* slider按钮  */
#slider {
  width: 50px;
  height: 50px;
  background-color: #4ae8c4;
  cursor: pointer;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 2;
  font-family: Consolas;
  font-size: 30px;
}
#icon-slider {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
#icon-slider.fullscreen {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* slider按钮 end */
/* indexBtn 按钮 */
#index-btn {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
  position: fixed;
  right: 15px;
  bottom: 66px;
  opacity: 0.5;
}
/* indexBtn 按钮 end */
/* indexPanel */
#index-panel {
  width: 100px;
  height: 500px;
  position: fixed;
  right: -100px;
  bottom: 0;
  background-color: #ccc;
  opacity: 0.5;
  border: 1px solid green;
  border-radius: 5px 0 0;
}
/* indexPanel end */
/* back2top按钮 */
#back2top {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
  position: fixed;
  right: 15px;
  bottom: 15px;
  opacity: 0.5;
  display: none;
}
/* back2top按钮 end */
/* 底部footer */
#footer {
  margin-top: 60px;
  text-align: center;
}
/* 底部footer end */
/* media query */
@media screen and (max-width: 640px) {
  #slide-panel {
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  #slide-panel .guid {
    display: none;
  }
  #slide-panel .file-list {
    width: 100%;
    background-color: rgba(213, 213, 213, 0.9);
  }
  #slide-panel .file-list .head-img-min {
    display: block;
  }
  #slider {
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0%;
    opacity: 0.5;
  }
  #index-btn {
    position: fixed;
    bottom: 51px;
    right: 0;
  }
  #back2top {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
@media screen and (min-width: 641px) and (max-width: 1280px) {
  #slide-panel {
    position: absolute;
    z-index: 1;
  }
  .file-list {
    background-color: rgba(213, 213, 213, 0.9);
  }
}
@media screen and (min-width: 1000px) {
  #contents {
    background-color: #eee;
  }
  #contents .contents-box {
    padding: 0 30px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #bbb;
  }
}
/* media query end */
