html,
body {
	padding: 0;
	margin: 0;
	background-color: #f3f3f3;
}
body {
	color: #1f3f5f;
	line-height: 1.5;
	font-weight: 400;
	font-family: "Microsoft YaHei","Segoe UI","Lucida Grande",Helvetica,Arial,FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif
}
#loading {	
	width: 100%;
	height: 3px;
	background-color: red;
}
.contents {
	margin-top: 20px;
}
/* a标签 */
a {
	color: #4ae8c4;
	text-decoration: none;
}
a:hover {
	background-color: #4ae8c4;
	color: #fff;
}
/* a标签 end */

/* 引入 */
blockquote {
	border-left: 5px solid #ccc;
	margin-left: 20px;
	padding-left: 10px;
	font-family: Georgia,"Times New Roman",Times,Kai,"Kaiti SC",KaiTi,BiauKai,FontAwesome,serif;
}
/* 引入 end */

/* 代码块 */
pre {
	padding: 0px;
}
pre code {
	border-radius: 5px !important;
}
/* 代码块 end */

/* 行内代码 */
li code,
p code {
	padding: 2px 4px;
//	font-size: 1rem;
	color: #c7254e;
	background-color: #f8f8f8;
	white-space: nowrap;
}
/* 行内代码 end */

/* 选中文本 */
::selection {
	background-color: #4ae8c4;
	color: #fff;
}
::-moz-selection {
	background-color: #4ae8c4;
	color: #fff;
}
/* 选中文本 end */

/* table */
table {
	width: 100%;
	border: 1px solid #ccc;
}
/* table end */