.am-center {
	text-align: center;
}
.course-box {
	height: 350px;
	padding: 10px;
}
.course-item {
	height: 100%;
	box-shadow: 0 0 1px #000;
	background-color: #fff;
	cursor: pointer;
}
.courses {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 30px;
}
.course-img {
	font-size: 80px;
}
.course-title {
	font-size: 28px;
}