.am-center {
	text-align: center;
}
.doc-content {
	//margin: 0 -1rem;
	margin: 0;
}
.doc-title {
	height: 30px;
	line-height: 30px;
	background-color: #f7f7f7;
	box-shadow: 0 0 1px #d8d8d8;
	padding-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.doc-text {
	padding: 5px 10px;
}
.am-g .am-g {
	margin: 0;
}
[class*='am-u-'] {
	padding: 0;
}
.doc-btn {
	color: #0e90d2;
	height: 30px;
	line-height: 30px;
	box-shadow: 0 0 1px #585858;
	overflow: hidden;
	cursor: pointer;
	transition: background 1s;
}
.doc-btn:hover {
	color: #fff;
	background-color: #0e90d2;
}
.editor-content {
	position: relative;
	//margin: 0 -1rem;
	margin: 0;
}
#editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.editor-bottom-bar {
	width: 100%;
	height: 50px;
	background-color: #202020;
	position: absolute;
	bottom: 0;
}
.editor-bottom-bar .am-btn {
	margin: 4px 5px;
}
.btn-resite {
	background-color: #202020;
	box-shadow: 1px 1px 1px #585858 inset;
	border: 1px solid #000;
	color: #fff;
	transition: background 1s;
}
.btn-resite:hover {
	color: #fff;
	background-color: #000;
}