---
layout: default
title: Home
---

<div id="home">
  <!-- 遍历分页后的文章 -->
  {% for post in paginator.posts %}
  <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
  <div class="post-content">
    {{ post.content | strip_html | truncate: 150 }}
  </div>
  <div class="post-message text-tip p-t-16">
    <span class="date" title="{{ post.date | date: '%Y-%m-%d' }}">
      <i class="icon-calendar-o"></i>
      {{ post.date | date: "%b %e, %Y" }}
    </span>
  </div>
  <div class="line"></div>
  {% endfor %}

  {% include pagination.html %}

</div>
