---
layout: default
title: Home
---

<div id="home">
  <!-- 遍历分页后的文章 -->
  {% for post in paginator.posts %}
  <div class="post-item">

    <h1 class="m-t-0 m-b-8"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

    <div class="flex-box">
      <div class="left">
        <img src="/assets/img/bg-img.jpg" alt="">
      </div>

      <div class="right m-l-16">
        <div class="post-content">
          {{ post.content | strip_html | truncate: 100 }}
        </div>
        <div class="post-message text-tip p-t-16 p-b-0">
          {% include post-date.html %}
          {% include post-category.html %}
          {% include post-tag.html %}
        </div>
      </div>
    </div>

  </div>
  <div class="line"></div>
  {% endfor %}

  {% include pagination.html %}

</div>