#site-scroll {
  &.show-site-menu {
    overflow: hidden;

    #aside {
      right: 0;
      
    }

    .container {
      left: 100%;
      // display: none;

      #header {
        justify-content: flex-end;
      }

      #site-menu-btn {
        position: fixed;
        top: 0;
        left: 0;

        .line {
          background: @white;
        }
      }
    }
  }
}