#header {
  &.show-site-menu {
    #site-menu-btn {
      z-index: 1;

      .line-first {
        .close-trf(-0.02rem, 0.003rem, -45deg);
      }

      .line-last {
        .close-trf(-0.02rem, -0.003rem, 45deg);
      }

      .line-middle {
        background-color: transparent;
      }
    }

    .site-menu-container {
      display: block;
    }
  }

  .site-menu-container {
    display: none;

    .site-menu {
      display: block;
    }
    #search-box {
      display: block;
      margin: 0 0.1rem;
    }
  }
}

.close-trf(@X, @Y, @rotate) {
  -webkit-transform: translateX(@X) translateY(@Y) rotate(@rotate);
  -moz-transform: translateX(@X) translateY(@Y) rotate(@rotate);
  -ms-transform: translateX(@X) translateY(@Y) rotate(@rotate);
  -o-transform: translateX(@X) translateY(@Y) rotate(@rotate);
  transform: translateX(@X) translateY(@Y) rotate(@rotate);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
