#archives {

  .base() {
    width: 150rem;
    text-align: right;
    line-height: 50rem;
  }
  .line() {
    display: inline-block;
      content: "";
      width: 4rem;
      height: 50rem;
      background: #f3f3f3;
      margin: 0 13rem;
  }
  .circle() {
    display: inline-block;
      content: "";
      width: 8rem;
      height: 8rem;
      line-height: 1.5;
      margin: 0 11rem;
      background: #ccc;
      border-radius: 50%;
      box-shadow: 0 0 3rem #ccc;
  }

  .year {
    .base();
    font-size: 24rem;
    position: relative;

    &::after {
      .circle();
      position: relative;
      width: 6rem;
      height: 6rem;
      background: #fff;
      border: 3px solid #ccc;
      margin: 0 9rem;
      z-index: 2;
    }
    .line {
      .line();
      position: absolute;
      right: 0;
      bottom: 18rem;
    }
  }
  .month {
    .base();
    font-size: 16rem;
    position: relative;

    &::after {
      .circle();
      width: 4rem;
      height: 4rem;
      background: #fff;
      border: 2px solid #ccc;
      position: relative;
    }
    .line {
      .line();
      position: absolute;
      right: 0;
      bottom: 18rem;
    }
  }
  .day-title {
    font-size: 16rem;
    .day {
      .base();
      display: inline-block;
      position: relative;

      &::after {
        .circle();
        position: relative;
      }
      .line {
        .line();
        position: absolute;
        right: 0;
        bottom: 18rem;
      }
    }
  }
}