/* back2top btn */
.bt-line-trf(@X, @Y, @rotate) {
  -webkit-transform: translate(@X, @Y) rotate(@rotate);
  -moz-transform: translate(@X, @Y) rotate(@rotate);
  -ms-transform: translate(@X, @Y) rotate(@rotate);
  -o-transform: translate(@X, @Y) rotate(@rotate);
  transform: translate(@X, @Y) rotate(@rotate);
}

#back2top {
  display: none;
  width: 0.4rem;
  height: 0.4rem;
  font-size: 0;
  text-align: center;
  background-color: @blue;
  cursor: pointer;
  position: fixed;
  right: 0.3rem;
  bottom: 0.3rem;
  border-radius: 50%;
  z-index: 2;
  padding: 0.12rem 0.14rem;
  box-sizing: border-box;
  box-shadow: 0 0 0.05rem rgba(0, 0, 0, 0.7);

  .bt-line {
    height: 0.02rem;
    width: 100%;
    display: inline-block;
    background-color: @white;
  }

  .bt-line-first {
    margin-top: 0.06rem;
    .bt-line-trf(0.04rem, 0, 45deg);
  }

  .bt-line-last {
    .bt-line-trf(-0.04rem, -0.02rem, -45deg);
  }
}
/* back2top btn end */
