#categories {
  ul.tabs {
    list-style: none;
    margin-bottom: 30rem;

    li {
      display: inline-block;
      margin-right: 40rem;
      border-bottom: 3rem solid transparent;

      &.is-active {
        border-bottom: 3px solid @second;
      }
    }
  }

  .tag-anchor-point {
    padding: 80rem 0 0 0;
    margin: -60rem 0 0 0;
  }

  ul {
    line-height: 2;
  }

  ul.category-group {
    display: none;
    padding-left: 150rem;

    .box {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
    }
    .title {
      margin-left: 20rem;
      border-bottom: 1px solid transparent;
    }
    .date {
      display: inline-block;
      width: 90rem;
      margin-left: -110rem;
    }
  }
}

#category {
  ul {
    line-height: 2;
    list-style: none;
  }

  li {
    display: flex;
  }

  .line-dashed {
    flex: 1;
    border-bottom: 1px dashed #ccc;
    margin: 0 10rem 10rem;
  }
}
