/**
functional color
blue    1890FF   177DDC
green   52C41A   49AA19
gold    FAAD14   D89614
red     FF4D4F   A61D24
**/

@black: #000;
@white: #fff;
@red: #d14;
@blue: #3390FF;//5bc0de #4ae8c4 - #009a61 // - 0090bb // 3390FF
@main: #3390ff;
@font-main: rgba(0, 0, 0, 0.6); //#1f3f5f
@level-2: #ccc;
@box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
@font-family: -apple-system, 'Helvetica Neue', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
@a-base-color: #495057;

@highlight-bg: #f1f4f8;
@highlight-bg-hover: #e1e6ed;

@black-1: rgba(@black, 0.02);
@black-2: rgba(@black, 0.04);
@black-3: rgba(@black, 0.06);
@black-4: rgba(@black, 0.15);
@black-5: rgba(@black, 0.25);
@black-6: rgba(@black, 0.45);
@black-7: rgba(@black, 0.85);
@black-8: rgba(@black, 0.85);

@white-1: rgba(@white, 0.04);
@white-2: rgba(@white, 0.08);
@white-3: rgba(@white, 0.12);
@white-4: rgba(@white, 0.20);
@white-5: rgba(@white, 0.30);
@white-6: rgba(@white, 0.45);
@white-7: rgba(@white, 0.85);
@white-8: rgba(@white, 0.85);
