@black: #000;
@white: #fff;

body {
	color: #1f3f5f;
	line-height: 1.5;
	font-weight: 400;
	word-wrap: break-word;
	overflow: hidden;
	font-family: "Microsoft YaHei", Consolas, KaiTi, monospace;
}
#loading {	
	width: 100%;
	height: 3px;
	background-color: red;
}
/* a标签 */
a {
	color: #4ae8c4;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		//background-color: #4ae8c4;
		color: #4ac8c4;
		text-decoration: underline;
		outline: none;
	}
	
	&:link,
	&:visited {
		text-decoration: none;
	}
}
/* a标签 end */

/* h1~h6 */
h1,h2,h3,h4,h5,h6 {
	color: #000;
	font-weight: normal;
}
/* h1~h6 end */

/* 代码块 */
pre {
	padding: 0px;
	
	code {
		border-radius: 5px;
		font-family: Consolas, "Microsoft YaHei", KaiTi, "Courier New", monospace;
	}
}
/* 代码块 end */

/* 行内代码 */
li,
p {
	code {
		padding: 2px 4px;
		color: #c7254e;
		background-color: #eee;
		font-family: Consolas, "Microsoft YaHei", KaiTi, "Courier New", monospace;
	}
}
/* 行内代码 end */

/* 引用 */
blockquote {
	border-left: 5px solid #ccc;
	margin-left: 20px;
	padding-left: 10px;
	font-family: "Comic Sans MS", KaiTi, Consolas, "Microsoft YaHei", "Courier New", monospace;
}
/* 引用 end */

/* 选中文本 */
::selection {
	background-color: #4ae8c4;
	color: #fff;
}
::-moz-selection {
	background-color: #4ae8c4;
	color: #fff;
}
/* 选中文本 end */

/* 表格 */
table {
	margin-left: 30px;
	border: 1px solid #ccc;
	border-collapse: collapse;
}
thead {
	background-color: #4ae8c4;
}
tbody {
	background-color: #E7F1EE;
}
th,
td {
	padding: 6px 12px;
	border: 1px solid #ccc;
}
tbody {

	tr:hover {
		background-color: #4ae8c4;
	}
}
/* 表格 end */

/* <strong></strong>标签 */
strong {
	color: #c7254e;
}
/* <strong></strong>标签 end */

/* 主目录 */
#slide-panel {
	height: 100%;
	float: left;
}
.guid {
	width: 180px;
	height: 100%;
	float: left;
	color: #ccc;
	position: relative;
	//background-color: rgba(31, 63, 95, 0.9);//#1f3f5f
	background: -webkit-linear-gradient(left top, #86ed7b, #064065);
	background: -moz-linear-gradient(left top, #86ed7b, #064065);
	background: -ms-linear-gradient(left top, #86ed7b, #064065);
	background: -o-linear-gradient(left top, #86ed7b, #064065);
	background-color: #064065;

	.head-img-box {
		display: block;
		margin: 30px 35px 0;

		.head-img {
			display: block;
			width: 110px;
			height: 110px;
			text-align: center;
			line-height: 180px;
			border-radius: 50%;
			border: 5px solid #fff;
			box-sizing: border-box;
		}
	}

	ul {
		margin: 10px 0;
		padding: 0;
		list-style: none;

		li {
			padding: 10px 30px;
			cursor: pointer;
			display: flex;
			flex-wrap: row nowrap;
			align-items: stretch;
			justify-content: space-around;
		}
	}

	.my-msg {
		width: 100%;
		position: absolute;
		bottom: 0;
		font-size: 20px;

		display: flex;
		flex-wrap: row nowrap;
		align-items: stretch;
		justify-content: space-around;

/**
		a:first-child {
			//width: 50%;
			text-align: center;
			border-top: 1px solid #434d9b;
			border-right: 1px solid #434d9b;
		}

		a:last-child {
			//width: 50%;
			text-align: center;
			border-top: 1px solid #434d9b;
			border-left: 1px solid #434d9b;
		}
**/
	}
}
/* 主目录 end */

/* 文章、分类、标签共同样式 */
.page-item {
	width: 300px;
	height: 100%;
	float: left;
	background-color: rgba(213, 213, 213, 0.3);
	overflow-y: auto;
	display: none;
}
.ul-style {
	ul {
		margin: 0;
		padding: 0 0 20px 0;
		list-style: none;

		li {
			color: #1f3f5f;

			a {
				display: block;
				width: 90%;
				color: #1f3f5f;
				//color: #B5AFAF;
				text-align: left;
				padding: 5px 0 5px 5%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				&:hover {
					background-color: rgba(217, 217, 217, 0.9);
				//	color: #c7254e;
					color: #1f3f5f;
					text-decoration: none;
					border-right: 3px solid #4ae8c4;
				}
			}
		}

		li.active {

			a {
				background-color: rgba(217, 217, 217, 0.9);
				//color: #c7254e;
				color: #1f3f5f;
				text-decoration: none;
				border-right: 3px solid #4ae8c4;
			}
		}

		.date-tip {
			font-size: 14px;
			color: #c7254e;
			font-family: "Comic Sans MS", KaiTi, Consolas, "Microsoft YaHei", "Courier New", monospace;
		}
	}
}
/* 文章、分类、标签共同样式 end */

/* 文章 */
.articles-all {
	display: block;

	.head-img-min {
		height: 50px;
		display: none;

		img {
			height: 100%;
		}
	}

	.ul-style();
}
/* 文章 end */

/* 分类 */
.category-all {
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;

	.category-index {
		padding: 5px 5%;
		color: #B5AFAF;
		min-height: 230px;
		overflow-y: auto;

		.category-item {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: stretch;
			padding: 5px 0;
			cursor: pointer;
			border-bottom: 1px solid #B5AFAF;

			.category-size {
				padding: 0 10px;
				border: 1px solid #B5AFAF;
				border-radius: 15px;
			}

			&.active {
				color: #1f3f5f;

				.category-size {
					border-color: #1f3f5f;
				}
			}

			&:hover {
				color: #1f3f5f;

				.category-size {
					border-color: #1f3f5f;
				}
			}
		}
	}

	.category-box {
		overflow-y: auto;
	}

	.ul-style();
}
/* 分类 end */

/* 标签 */
.tags-all {
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;

	.tags-index {
		padding: 5px 5%;
		color: #B5AFAF;
		min-height: 260px;
		overflow-y: auto;

		&:after {
			content: "";
			display: block;
			padding: 5px 0;
			border-bottom: 1px dashed #B5AFAF;
		}

		.tags-item {
			cursor: pointer;
			margin-right: 10px;
			white-space: nowrap;
			
			&.active {
				color: #1f3f5f;
			}

			&:hover {
				color: #1f3f5f;
				text-decoration: underline;
			}
		}
	}

	.tags-box {
		overflow-y: auto;
	}

	.ul-style();
}
/* 标签 end */

/* 文章显示 */
#contents {
	height: 100%;
	margin: 0;
	padding: 0 20px;
	overflow-y: auto;

//	display: flex;
//	flex-wrap: row wrap;
//	align-items: stretch;
//	justify-content: center;

	.contents-box {
		width: 100%;
		min-height: 570px;
		margin: 0 auto;
		background-color: #fff;
		box-sizing: border-box;

		.date-tags-box {
			color: #bbb;
			padding: 10px;
			border-bottom: 1px dashed #ccc;

			.date {
				margin-right: 20px;
			}
		}

		.page-previous {
			float: left;
			padding: 10px 0;
		}

		.page-next {
			float: right;
			padding: 10px 0;
		}

		&:after {
			content: '';
			display: block;
			clear: both;
		}
		
		img {
			width: auto;
			max-width: 100%;
		}
	}
}
/* 文章显示 end */

/* slider按钮  */
#slider {
	width: 40px;
	height: 40px;
	background-color: #4ae8c4;
	cursor: pointer;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 2;
	font-family: Consolas;
	font-size: 1.875em;
}
#icon-slider {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: -moz-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	-ms-transition: -ms-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: -o-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
#icon-slider.fullscreen {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
/* slider按钮 end */

/* indexBtn 按钮 */
#index-btn {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	background-color: #ccc;
	color: #fff;
	cursor: pointer;
	position: fixed;
	right: 15px;
	bottom: 66px;
	opacity: 0.5;
}
/* indexBtn 按钮 end */

/* indexPanel */
#index-panel {
	width: 100px;
	height: 500px;
	position: fixed;
	right: -100px;
	bottom: 0;
	background-color: #ccc;
	opacity: 0.5;
	border: 1px solid green;
	border-radius: 5px 0 0;
}
/* indexPanel end */

/* back2top按钮 */
#back2top {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	background-color: #ccc;
	color: #fff;
	cursor: pointer;
	position: fixed;
	right: 15px;
	bottom: 15px;
	opacity: 0.5;
	display: none;
}
/* back2top按钮 end */

/* 底部footer */
#footer {
	margin-top: 60px;
	text-align: center;
}
/* 底部footer end */

/* media query */
//这个分辨率区间大多为移动设备
@media screen and (max-width: 640px) {

	#slide-panel {
		position: absolute;
		z-index: 1;
		width: 100%;

		.guid {
			display: none;
		}

		.articles-all {
			width: 100%;
			background-color: rgba(213, 213, 213, 0.9);//#ccc

			.head-img-min {
				display: block;
			}
		}
	}
	
	#slider {
		position: fixed;
		top: 0;
		right: 0;
		border-radius: 0%;
		opacity: 0.5;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	
	#index-btn {
		position: fixed;
		bottom: 51px;
		right: 0;
	}

	#back2top {
		position: fixed;
		bottom: 0;
		right: 0;
	}
}

//这个分辨率区间的设备最少（slide-panel可以覆盖contents）
//大于等于1024px的常见设备有 iPad / iPad mini / PC
@media screen and (min-width: 641px) and (max-width: 1023px) {
	#slide-panel {
		position: absolute;
		z-index: 1;
	}

	.articles-all {
		background-color: rgba(213, 213, 213, 0.9);//#ccc
	}

	.contents-box {
		max-width: 800px;
	}

}

//800px以上给contents-box加一圈边框
@media screen and (min-width: 800px) {
	#contents {
		background-color: #eee;
		
		.contents-box {
			padding: 0 20px;
			border: 1px solid #ccc;
			box-shadow: 1px 1px 5px #bbb;
		}

		.contents-box.fullscreen {
			max-width: 800px;
		}
	}
}
/* media query end */
