@import "color-palette.less";

:root {
  --brand:       @blue;
  --primary:     @black-7;
  --secondary:   @black-6;
  --white:       @white;

  --title:          @black-8;
  --text-primary:   @black-7;
  --text-secondary: @black-6;
  --disabled:       @black-5;
  --border:         @black-4;
  --divider:        @black-3;
  --bg:             @black-2;
  --table-header:   @black-2;
  --table-body:     @black-1;

  --code-inline:    @code-inline;
  --code-inline-bg: @code-inline-bg-l;

  --tag-text-bg:   @tag-text-bg;
  --tag-number-bg: @tag-number-bg;

  --body-bg:   @body-bg-l;
  --header-bg: @header-bg-l;
  --card-bg:   @card-bg-l;
}

@import "index";
