#header {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  background: var(--header-bg);
  overflow: hidden;
  box-shadow: 0 0.02rem 0.12rem 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 11;

  &.show-row-theme {
    .row-search {
      margin-top: -0.5rem;
    }
  }

  .header-container {
    max-width: 14.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.1rem;
    margin: 0 auto;
  }

  ul.site-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 0.1rem;
    }
  }

  #theme-btn {
    font-size: 0.2rem;
    display: flex;
  }
}

@import 'site-menu-btn';
