.search-box() {
  height: 0.32rem;
  line-height: 0.32rem;
  background: #f3f3f3;
  border: none;
  border-bottom: 2px solid #ccc;

  input {
    height: 100%;
      border: none;
      outline: none;
      background: transparent;
  }
}

#header {
  width: calc(100% - (100%/6));
  max-width: 12rem;
  height: 0.50rem;
  line-height: 0.50rem;
  background-color: #fff;
  // text-align: right;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.02rem 0.12rem 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 10;

  &.show-row-theme {
    .row-search {
      margin-top: -0.5rem;
    }
  }

  .toggle-search-theme {
    align-self: flex-start;
  }

  .row-search {
    height: 0.5rem;
    line-height: 0.55rem;

    -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .row-theme {
    height: 0.5rem;
    line-height: 0.55rem;
    text-align: right;
  }

  .search-box {
    display: inline-block;
    text-align: left;
    .search-box();

    .search-btn {
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
    }

    .search-mask {
      display: none;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.7);
      overflow: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
    }

    .result-box {
      font-size: 0.14rem;
      width: 6rem;
      background: #fff;
      box-shadow: 0 0.02rem 0.12rem 0 rgba(0, 0, 0, 0.1);
      position: absolute;
      left: calc((100% - 6rem) / 2);
      top: 1rem;
      z-index: 10;

      i:not(.icon-file, .icon-folder-open, .icon-tag) {
        font-size: 0.20rem;
      }

      .search-box {
        .search-box();
        width: calc(100% - 0.20rem);
        background: transparent;

        input {
          width: calc(100% - 0.50rem);
        }

        i.search-close-btn {
          padding: 0.06rem 0.05rem;
          margin-right: -0.05rem;
        }
      }

      .type {
        padding: 0.03rem 0.10rem;
        background: #f3f3f3;
      }

      ul {
        list-style: none;
        line-height: 1.8;
        padding-left: 0.24rem;

        li {
          padding-right: 0.24rem;
        }
      }
    }
  }
}

@import "site-menu-btn";