#home {
  .post-content {
    color: var(--text-primary);
    // font-size: 0.16rem;
    word-break: break-word;
  }

  .line {
    height: 1px;
    background: var(--divider);
  }
}

@import "pagination";