#home {
  .post-item {

    .left {
      img {
        width: 1.94rem;
        height: 1.2rem;
      }
    }
  }
  .post-content {
    color: var(--text-secondary);
    word-break: break-word;
  }

  .post-message {
    a {
      color: var(--disabled);

      &:hover {
        color: var(--brand);
      }
    }
  }

  .line {
    height: 1px;
    background: var(--divider);
    margin: 0.16rem 0;
  }
}

@import "pagination";
