@black: #000;
@white: #fff;
@red: #d14;
@blue: #0090bb;//5bc0de #4ae8c4 - #009a61 // - 0090bb
@font-main: rgba(0, 0, 0, 0.6); //#1f3f5f
@level-2: #ccc;
@box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
@font-family: -apple-system, 'Helvetica Neue', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
@a-base-color: #495057;

@import "utils";
@import "blog-enter";
@import "layout"; // aside / header / main(home(pagination) / category / tag / archives) / post(previous-next-post) / footer

@import "post-menu";

@import "toggle";
@import "sidebar";
@import "back2top";
@import "animation-fade";
@import "mask-layer";
@import "media-query";