@black: #000;
@white: #fff;
@red: #d14;
@blue: #0090bb;//5bc0de #4ae8c4 - #009a61 // - 0090bb
@font-main: rgba(0, 0, 0, 0.6); //#1f3f5f
@level-2: #ccc;
@box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';

@import "utils";
@import "layout";
@import "aside";
@import "header";
@import "main";
@import "home";
@import "post";
@import "category";
@import "tag";
@import "previous-next-post";
@import "archives";
@import "pagination";
@import "footer";
@import "indexContainer";
@import "menu-main";
@import "menu-sub";
@import "contents";
@import "toggle";
@import "sidebar";
@import "back2top";
@import "animation-fade";
@import "media-query";
@import "mask-layer";