#header-bg {
  width: 100%;
  height: 0.5rem;
  background-color: var(--header-bg);
  box-shadow: 0 0.02rem 0.12rem 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1;
}
#site-scroll {
  height: 100vh;
  overflow: auto;
}
#site-container {
  display: flex;
  justify-content: start;
  max-width: 14.40rem;
  margin: 0 auto;

  #aside {
    flex: 1;
    width: 0;
    position: sticky;
    top: 0;
  }

  .container {
    flex: 5;
    // width: 100%;
    // height: 100vh;
    // overflow: auto;
  }
}

#page-404 {
  text-align: center;
}

@import "aside";
@import "header";
@import "main";
@import "post";
@import "footer";
@import "am-site-menu.less";