#site-scroll {
  height: 100vh;
  overflow: auto;
}
#site-container {
  max-width: 12rem;
  display: flex;
  justify-content: start;
  padding: 0 0.16rem;
  margin: 0 auto;

  #aside {
    flex: 1;
    width: 0;
    position: sticky;
    top: 0;
  }

  .container {
    flex: 5;
  }
}

#page-404 {
  text-align: center;
}

@import 'header';
@import 'aside';
@import 'main';
@import 'post';
@import 'footer';
@import 'am-site-menu';
@import 'search-box';
