#main {
  display: flex;
  padding: 0.60rem 0.10rem 0;
  justify-content: flex-start;

  &.aside-sticky {
    align-items: flex-start;
  }

  .main-view {
    flex: 3;
    min-height: calc(100vh - 1.04rem);
    width: 0;
    // overflow: hidden;
    margin: 0 0.05rem 0 0;
  }

  .main-aside {
    flex: 1;
    width: 0;
    // overflow: hidden;
    margin: 0 0 0 0.05rem;

    .card:not(:last-child) {
      margin: 0 0 0.10rem 0;
    }

    a {
      color: var(--text-secondary);
    }

    #recent-update {
      a:hover {
        color: var(--brand);
        text-decoration: underline;
      }
    }
  }

  .position-sticky {
    position: sticky;
    top: 0.60rem;
  }

  #pagination {
    a:hover {
      text-decoration: none;
    }
  }
}

@import "home";
@import "category";
@import "tag";
@import "archives";
