#main {
  display: flex;
  padding: 60rem 10rem 0;
  justify-content: flex-start;

  &.aside-sticky {
    align-items: flex-start;
  }

  .main-view {
    flex: 3;
    min-height: calc(100vh - 104rem);
    margin: 0 5rem 0 0;
  }

  .aside {
    flex: 1;
    margin: 0 0 0 5rem;

    .card:not(:last-child) {
      margin: 0 0 10rem 0;
    }
  }

  .position-sticky {
    position: sticky;
    top: 60rem;
  }
}