/* media query */
// < 768: mobile
// hide aside
@media screen and (max-width: 767.98px) {
  #header {
    width: 100%;

    .header-container {
      padding: 0;

      .center {
        display: inline-block;
      }
    }

    #site-menu-btn {
      display: inline-block;
    }

    #theme-btn {
      padding: 0.15rem;
    }

    .site-menu {
      display: none;
    }

    i.icon-sun,
    i.icon-moon {
      font-size: 0.2rem;
    }
  }

  #site-container {
    display: block;
    position: relative;

    .container {
      width: 100vw !important;
      position: absolute;
      left: 0;
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

      #main {
        padding-left: 0;
        padding-right: 0;

        .main-view {
          margin-right: 0;
        }
        .main-aside {
          display: none;
        }
      }
    }
  }

  #pagination {
    justify-content: center;

    .total,
    .number,
    .page-number {
      display: none;
    }

    .mobile-page-number {
      display: inline-block;
    }
  }

  .post-list(@class) {
    ul.@{class} {
      padding-left: 0.2rem;

      .box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .title {
        display: block;
        line-height: 1;
        margin: 0;
      }

      .date {
        display: block;
        margin: 0;
      }
    }
  }

  #categories {
    .post-list(category-group);
  }

  #tags {
    .post-list(tag-group);
  }

  #archives {
    .year,
    .month {
      width: 0.9rem;
    }

    .day-title {
      display: flex;
      align-items: center;

      .day {
        width: 0.9rem;
      }

      .title {
        flex: 1;
      }
    }
  }

  #back2top {
    // width: 50rem;
    // height: 50rem;
    border-radius: 0;
    position: fixed;
    right: 0;
    bottom: 0;
  }

  #mask-layer {
    .mask-layer-btn {
      border-radius: 0;
      top: 0;
      right: 0;
    }
  }
}

// >= 768: iPad、iPad mini | 1024: iPad pro
// show aside / hide main-aside
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  #aside {
    .guid {
      .avatar-box {
        width: calc(100% - 40%);
        height: 0;
        padding-bottom: calc(100% - 40% - 0.04rem);
      }
    }
  }

  #header {
    .search-mask {
      .result-box {
        width: auto;
        top: 0.4rem;
        left: 0.4rem;
        right: 0.4rem;
      }
    }
  }

  #main {
    .main-view {
      margin-right: 0;
    }
    .main-aside {
      display: none;
    }
  }
}

// >= 1024：desktop
// show main-aside
@media screen and (min-width: 1024px) {
  #aside {
    .guid {
      .avatar-box {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0.5rem auto 0.3rem;
      }
    }
  }
}

// >= 1441
// limit width 1440
@media screen and (min-width: 1441px) {
  #main {
    padding-right: 0;
  }

  #back2top {
    right: calc((100vw - 14.4rem) / 2 + 0.3rem);
  }
}
/* media query end */

/**
bootstrap:
extra small ) 576 [ small )  768 [ medium ) 992 [ large ) 1200 [ x-large ) 1400 [ xx-large

-sm- 768 -md- 1024 -lg- 1200 -xl- 1440 -xxl- 1920 --
**/
