#post {
  .post-message {
    color: var(--disabled);
    font-size: 0.14rem;

    a {
      color: var(--disabled);

      &:hover {
        color: var(--brand);
      }
    }
  }

  .post-content {

    h2,h3,h4,h5,h6 {
      padding-top: 0.80rem;
      margin-top: -0.60rem;
    }

    img {
      width: auto;
      max-width: 100%;
      cursor: -webkit-zoom-in;
    }

    a {
      text-decoration: underline var(--border);
      text-underline-offset: 0.03rem;

      &:hover {
        text-decoration-color: var(--brand);
      }
    }
  }
}

@import "previous-next-post";