#post {
  .post-message {
    color: @second;
    font-size: 14rem;

    a {
      color: @second;

      &:hover {
        color: @blue;
      }
    }
  }

  .post-content {

    h2,h3,h4,h5,h6 {
      padding-top: 80rem;
      margin-top: -60rem;
    }

    img {
      width: auto;
      max-width: 100%;
      cursor: -webkit-zoom-in;
    }

    a {
      border-bottom: 1px solid @border;
    }
  }
}

@import "previous-next-post";