#post {
  .post-content {
    font-size: 14rem;

    h2,h3,h4,h5,h6 {
      padding-top: 80rem;
      margin-top: -60rem;
    }

    img {
      width: auto;
      max-width: 100%;
      cursor: -webkit-zoom-in;
    }
  }
}

@import "previous-next-post";