#previous-next-post {
  display: flex;
  border-top: 3px solid @second;
  justify-content: space-around;
  margin: 32rem 0 0 0;
}

.base() {
  flex: 1;
  text-align: center;
  padding: 10rem;
  margin: 16rem 8rem;
  border-radius: 4rem;

  &:hover {
    background: @bg;

    a {
      color: @primary;
    }
  }
}

.previous {
  .base();
}

.next {
  .base();
}