/* sidebar btn */
.sidebar-btn-trf(@rotate) {
  -webkit-transform: translateX(-3px) rotate(@rotate);
  -moz-transform: translateX(-3px) rotate(@rotate);
  -ms-transform: translateX(-3px) rotate(@rotate);
  -o-transform: translateX(-3px) rotate(@rotate);
  transform: translateX(-3px) rotate(@rotate);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

#sidebar-btn {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 0;
  background-color: @blue;
  cursor: pointer;
  border-radius: 50%;
  padding: 13px 11px;
  box-sizing: border-box;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 2;

  .sidebar-line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: @white;
    -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .sidebar-line-middle {
    margin: 4px 0;
  }
}

#sidebar-btn.show {
  .sidebar-line-first {
    .sidebar-btn-trf(-45deg);
  }

  .sidebar-line-middle {
    opacity: 0;
  }

  .sidebar-line-last {
    .sidebar-btn-trf(45deg);
  }
}
/* sidebar btn end */
