.tag-inline-block() {
  ul.tag-inline-block {

    li {
      display: inline-block;
      margin: 0 0.08rem 0.08rem 0;

      a {
        display: inline-block;
        color: var(--white);
        text-decoration: none;
        overflow: hidden;
        border-radius: 0.03rem;

        .name {
          float: left;
          background: var(--tag-text-bg);
          padding: 0 0.08rem;
        }

        .count {
          float: left;
          background: var(--tag-number-bg);
          padding: 0 0.06rem;
        }

        &:hover {
          border: none !important;
          box-shadow: 0 0 5px var(--tag-number-bg);

          .name {
            background: var(--tag-number-bg);
          }
        }
      }
    }
  }
}

#tags {
  list-style: none;
  .tag-inline-block();

  .tag-anchor-point {
    padding: 0.80rem 0 0 0;
    margin: -0.60rem 0 0 0;
  }

  ul:not(.tag-inline-block) {
    line-height: 2;
  }

  ul.tag-group {
    padding-left: 1.50rem;

    .box {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
    }
    .title {
      margin-left: 0.20rem;
      border-bottom: 1px solid transparent;
    }
    .date {
      display: inline-block;
      width: 0.90rem;
      margin-left: -1.10rem;
    }
  }
}

#tag {
  ul {
    line-height: 2;

    li {
      display: flex;
    }

    .line-dashed {
      flex: 1;
      border-bottom: 1px dashed #ccc;
      margin: 0 0.10rem 0.10rem 0.10rem;
    }
  }
}

#trending-tags {
  .tag-inline-block();
  a {
    font-size: 0.14rem;
  }
}