#tags {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    padding: 4rem 12rem;
    border: 1px solid #ebeef5;
    border-radius: 4rem;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin: 0 16rem 16rem 0;

    &:hover {
      background: #f3f3f3;
    }
  }
}
