@import "../colors";

@title:        @white-8;
@primary:      @white-7;
@second:       @white-6;
@disabled:     @white-5;
@border:       @white-4;
@divider:      @white-3;
@bg:           @white-2;
@table-header: @white-1;

@tag-text-bg: #868e96;
@tag-number-bg: #495057;

@table-header: #fafafa;
@table-border: #f0f0f0;

:root {
  --title:        @white-8;
  --primary:      @white-7;
  --second:       @white-6;
  --disabled:     @white-5;
  --border:       @white-4;
  --divider:      @white-3;
  --bg:           @white-2;
  --table-header: @white-1;

  --brand: @gold-d;

  --code-inline-text: @red;
  --code-inline-bg: @bg;

  --tag-text-bg: #868e96;
  --tag-number-bg: #495057;

  --table-header: #fafafa;
  --table-border: #f0f0f0;

  --body-bg: #090C10;
  --header-bg: #161B22; //#2d2f31;
  --card-bg: #0D1117;
}

@import "../index";
