<div id="aside">
  <div class="aside-mask">
    <div class="guid">
      <a href="{{ site.baseurl }}/" class="avatar-box">
        <img src="{{ site.baseurl }}/assets/img/header-img.jpg" class="avatar" />
      </a>

      {% include site-menu.html %}

      <!-- include -->
      {% include search-box.html %}

      <div class="my-msg">
        <a href="https://github.com/zyuandong" target="_blank">
          <i class="icon-github"></i>
        </a>
        <a href="http://codepen.io/dongyao" target="_blank">
          <i class="icon-codepen"></i>
        </a>
        <a href="mailto:de1719@163.com">
          <i class="icon-mail-o"></i>
        </a>
      </div>
    </div>
  </div>
</div>
