<div id="slide-panel">
	<div class="guid">
		<a href="{{ site.baseurl }}/" class="head-img-box" data-pjax>
			<img src="http://imgchr.com/images/headerimg.png" alt="bakerz" class="head-img">
		</a>
		<ul>
			<li class="guid-item" data-page="articles-all">所有文章</li>
			<li class="guid-item" data-page="category-all">分类</li>
			<li class="guid-item" data-page="tags-all">标签</li>
			<li>关于我</li>
		</ul>
		<div class="my-msg">
			<a href="https://github.com/bakerz" target="_blank">
				<i class="fa fa-github"></i>
			</a>
			<a href="mailto:de1719@163.com">
				<i class="fa fa-envelope-o"></i>
			</a>
			<a href="http://codepen.io/bakerz/" target="_blank">
				<i class="fa fa-codepen"></i>
			</a>
		</div>
	</div>
	<div class="page-item articles-all">
		<div class="head-img-min">
			<a href="{{ site.baseurl }}/">
				<img src="http://imgchr.com/images/headerimg.png" alt="bakerz" class="head-img">
			</a>
		</div>
		<ul>
		    {% for post in site.posts %}
			    {% if post.monthLast %}
		    	<li class="date-tip">{{ post.date | date: "%Y %b" }}</li>
			    {% endif %}
			    {% if post.public != false %}
			    <li class="x-pjax">
			        <a href="{{ site.baseurl }}{{ post.url }}" class="title" data-pjax>
			        	{{ post.title }}
			        </a>
			    </li>
			    {% endif %}
		    {% endfor %}
		</ul>
	</div>
	<div class="page-item category-all">
		{% for category in site.categories %}
		<span data-category="{{ category | first }}">
			{{ category | first }} {{ category | last | size }}
		</span><br>
		{% endfor %}
		<div class="category-box"></div>
	</div>
	<div class="page-item tags-all">
		{% for tag in site.tags %}
		<span data-tag="{{ tag[0] }}">
			{{ tag | first }} {{ tag | last | size }}
		</span>
		{% endfor %}

		<div class="tags-box"></div>
	</div>
</div>