<div id="slide-panel">
	<div class="guid">
		<a href="{{ site.baseurl }}/">
			<img src="http://imgchr.com/images/headerimg.png" alt="bakerz" class="head-img">
		</a>
		<ul>
			<li>所有文章</li>
			<li>技术打包</li>
			<li>JavaScript</li>
			<li>nodeJs</li>
			<li>CSS</li>
			<li>设计</li>
			<li>杂记</li>
			<li>Tag</li>
			<li>
				<a href="https://github.com/bakerz" target="_block">
					<i class="fa fa-github"></i>
				</a>
				<a href="http://codepen.io/bakerz/" target="_block">
					<i class="fa fa-codepen"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="file-list">
		<div class="head-img-min">
			<a href="{{ site.baseurl }}/">
				<img src="http://imgchr.com/images/headerimg.png" alt="bakerz" class="head-img">
			</a>
		</div>
		<ul>
		    {% for post in site.posts %}
			    {% if post.monthLast %}
		    	<li class="date-tip">{{ post.date | date: "%Y %b" }}</li>
			    {% endif %}
			    {% if post.public != false %}
			    <li>
			        <a class="title" href="{{ site.baseurl }}{{ post.url }}">
			        	{{ post.title }}
			        </a>
			    </li>
			    {% endif %}
		    {% endfor %}
		</ul>
	</div>
</div>