<div id="header">
  <div class="header-container">
    <div class="left">
      {% include site-menu-btn.html %}

      <a href="{{ site.baseurl }}/" class="avatar-box">
        <img src="{{ site.baseurl }}/assets/img/header-img.jpg" class="avatar" />
      </a>

      {% include site-menu.html %}

      <!-- include -->
      {% include search-box.html %}
    </div>

    <div class="center">
      {% if page.alias %} {{ page.alias }} {% else %} {{ page.title }} {% endif %}
    </div>

    <div class="right">{% include theme-btn.html %}</div>
  </div>
  <div class="site-menu-container">{% include aside.html %}</div>
</div>
