<div id="header">
  <div class="header-container">
    <div class="left">
      {% include site-menu-btn.html %}

      <a href="{{ site.baseurl }}/" class="avatar-box">
        <img src="{{ site.baseurl }}/assets/img/header-img.jpg" class="avatar" />
      </a>

      <ul class="site-menu">
        <li class="guid-item {% if page_title == 'home' %}is-active{% endif %}">
          <a href="{{ site.baseurl }}/home">首页</a>
        </li>
        <li class="guid-item {% if page_url contains 'categories' %}is-active{% endif %}">
          <a href="{{ site.baseurl }}/categories">分类</a>
        </li>
        <li class="guid-item {% if page_url contains 'tags' %}is-active{% endif %}">
          <a href="{{ site.baseurl }}/tags">标签</a>
        </li>
        <li class="guid-item {% if page_title == 'archives' %}is-active{% endif %}">
          <a href="{{ site.baseurl }}/archives">归档</a>
        </li>
        <li class="guid-item {% if page_title == 'about' %}is-active{% endif %}">
          <a href="{{ site.baseurl }}/about">关于</a>
        </li>
      </ul>

      {% include search-box.html %}
    </div>

    <div class="center">
      {% if page.alias %} {{ page.alias }} {% else %} {{ page.title }} {% endif %}
    </div>

    <div class="right">{% include theme-btn.html %}</div>
  </div>
</div>
