<div id="mobile-menu-btn">
  <span class="line line-first"></span>
  <span class="line line-middle"></span>
  <span class="line line-last"></span>
</div>

<script>
let $siteContainer = document.getElementById('site-container');
document
  .getElementById('mobile-menu-btn')
  .addEventListener('click', (e) => {
    console.log(e);
    // $siteContainer.getAttribute('class');
    // $siteContainer.setAttribute('class', 'show-site-aside');
    $siteContainer.className = $siteContainer.className ? '' : 'show-site-menu'
  })
</script>