<!-- 分页链接 -->
{% comment %}

{% assign current_page = page.url | split: "/" | last %}
{% if current_page contains 'page' %}
  {% assign current_page = current_page | remove: "page" | abs %}
  {% assign prev_page = current_page | plus: 1 %}
  {% assign next_page = current_page | minus: 1 %}
{% else %}
  {% assign current_page = 1 %}
  {% assign next_page = 2 %}
{% endif %}

{% assign left_number = "" | split: "" %}
{% assign show_prev_more = false %}
{% assign prev_more_number = 1 %}
{% assign middle_number = "" | split: "" %}
{% assign show_next_more = false %}
{% assign next_more_number = paginator.total_pages %}
{% assign right_number = "" | split: "" %}

{% for n in (1..paginator.total_pages) %}
  
  {% if paginator.total_pages > 5 %}
    {% if n == 1 or n == prev_page or n == current_page or n == next_page %}
      {% assign left_number = left_number | push: n %}
    {% endif %}

  {% else %}
    {% assign left_number = left_number | push: n %}
  {% endif %}
{% endfor %}

  n != 1 && n < current_page - 1 => showPrevMore
  n != paginator.total_pages && n > current_page + 1 => showNextMore

left_number:
{{ left_number }}

<br />
{{ prev_page }}
-- 
{{ current_page }}
--
{{ next_page }}

<br/>

total: {{ paginator.total_pages }}

{% assign test = '1'  %}
{% if 1 == 1 %}
1
{% endif %}

{% endcomment %}


<div id="pagination" style="text-align: center;">
  <span class="total text-tip">{{ site.posts | size }} Posts</span>

  <span class="pagination-box">

    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="{{ site.baseurl }}/home" class="previous">
        <i class="icon-chevron-left"></i>
      </a>
      {% else %}
      <a href="{{ site.baseurl }}/home/page{{ paginator.previous_page }}" class="previous">
        <i class="icon-chevron-left"></i>
      </a>
      {% endif %}
    {% else %}
      <span class="previous cursor-not-allowed">
        <i class="icon-chevron-left"></i>
      </span>
    {% endif %}

    {% for number in (1..paginator.total_pages) %}
      {% if number == 1 %}
      <a href="{{ site.baseurl }}/home" class="number {% unless paginator.previous_page %}is-active{% endunless %}">{{ number }}</a>
      {% else %}
      <a href="{{ site.baseurl }}/home/page{{ number }}" class="number {% if page.url contains number %}is-active{% endif %}">{{ number }}</a>
      {% endif %}
    {% endfor %}

    <span class="mobile-page-number text-tip only-sm">{{ paginator.page }} / {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
    <a href="{{ site.baseurl }}/home/page{{ paginator.next_page }}" class="next">
      <i class="icon-chevron-right"></i>
    </a>
    {% else %}
    <span class="next cursor-not-allowed">
      <i class="icon-chevron-right"></i>
    </span>
    {% endif %}
  </span>

  <span class="page-number text-tip">{{ paginator.page }} / {{ paginator.total_pages }}</span>
</div>