<div id="previous-next-post">
  <div class="m-r-8 card previous">
    <div class="text-tip">上一篇</div>
    {% if page.previous %}
    <a href="{{ site.baseurl }}{{ page.previous.url }}"> {{ page.previous.title }} </a>
    {% else %}
    <div class="cursor-not-allowed">--</div>
    {% endif %}
  </div>

  <div class="m-l-8 card next">
    <div class="text-tip">下一篇</div>
    {% if page.next %}
    <a href="{{ site.baseurl }}{{ page.next.url }}"> {{ page.next.title }} </a>
    {% else %}
    <div class="cursor-not-allowed">--</div>
    {% endif %}
  </div>
</div>
