<div id="recent-update">
  <h4 class="p-0 m-0 m-b-16">最近更新</h4>
  {% assign posts = '' | split: '' %}
  {% assign modified_posts = '' | split: '' %}

  {% for post in site.posts %}
    {% if post.last_modified_date %}
      {% assign modified_posts = modified_posts | push: post %}
    {% else %}
      {% assign posts = posts | push: post %}
    {% endif %}
  {% endfor %}

  {% assign sorted_posts = modified_posts | sort: 'last_modified_date' | reverse | concat: posts %}
  {% for post in sorted_posts limit: 5 %}
  <a href="{{ site.baseurl }}{{ post.url }}" class="f-s-14">{{ post.title }}</a>
  <br />
  {% endfor %}
</div>