<span id="theme-btn" class="p-5 m-lr-10">
  <i class="icon-sun cursor-pointer"></i>
  <i class="icon-moon cursor-pointer"></i>
</span>

<script>
const $iconSun = document.querySelector('.icon-sun');
const $iconMoon = document.querySelector('.icon-moon');

const toggleTheme = (type) => {
  const $theme = document.querySelector(`#theme`);
  if (type === 'light') {
    if ($theme) $theme.remove();
  } else {
    const $link = document.createElement('link');
    $link.setAttribute('id', `theme`);
    $link.setAttribute('rel', 'stylesheet');
    $link.setAttribute('type', 'text/css');
    $link.setAttribute('href', `{{ site.baseurl }}/assets/css/theme/${type}.css`);
    document.querySelector('head').append($link);

    if ($theme) $theme.remove();
  }

  $iconSun.style.display = 'none';
  $iconMoon.style.display = 'inline';
  localStorage.removeItem('theme');
  if (type === 'dark') {
    $iconSun.style.display = 'inline';
    $iconMoon.style.display = 'none';
    localStorage.setItem('theme', 'dark');
  }
}

const theme = localStorage.getItem('theme');
toggleTheme(theme || 'light')

document.querySelector('#theme-btn').addEventListener('click', (e) => {
  const $target = e.target;
  if ($target.className.includes('sun')) {
    toggleTheme('light');
    // $target.style.display = 'none';
    // $target.nextElementSibling.style.display = 'inline';
  }
  if ($target.className.includes('moon')) {
    toggleTheme('dark');
    // $target.style.display = 'none';
    // $target.previousElementSibling.style.display = 'inline';
  }
})
</script>