:root {
  --brand: #3390FF;
  --primary: rgba(0, 0, 0, 0.85);
  --secondary: rgba(0, 0, 0, 0.45);
  --white: #fff;
  --title: rgba(0, 0, 0, 0.85);
  --text-primary: rgba(0, 0, 0, 0.85);
  --text-secondary: rgba(0, 0, 0, 0.45);
  --disabled: rgba(0, 0, 0, 0.25);
  --border: rgba(0, 0, 0, 0.15);
  --divider: rgba(0, 0, 0, 0.06);
  --bg: rgba(0, 0, 0, 0.04);
  --table-header: rgba(0, 0, 0, 0.04);
  --table-body: rgba(0, 0, 0, 0.02);
  --code-inline: #d14;
  --code-inline-bg: #f9f2f4;
  --tag-text-bg: #868e96;
  --tag-number-bg: #495057;
  --body-bg: url("/assets/img/bg-img.jpg");
  --header-bg: #fff;
  --card-bg: #fff;
}
:root[data-theme="dark"] {
  --brand: #D89614;
  --primary: rgba(255, 255, 255, 0.85);
  --secondary: rgba(255, 255, 255, 0.45);
  --white: #fff;
  --title: rgba(255, 255, 255, 0.85);
  --text-primary: rgba(255, 255, 255, 0.85);
  --text-secondary: rgba(255, 255, 255, 0.45);
  --disabled: rgba(255, 255, 255, 0.3);
  --border: rgba(255, 255, 255, 0.2);
  --divider: rgba(255, 255, 255, 0.12);
  --bg: rgba(255, 255, 255, 0.08);
  --table-header: rgba(255, 255, 255, 0.08);
  --table-body: rgba(255, 255, 255, 0.04);
  --code-inline: #d14;
  --code-inline-bg: rgba(255, 255, 255, 0.08);
  --tag-text-bg: #868e96;
  --tag-number-bg: #495057;
  --body-bg: #090C10;
  --header-bg: #161B22;
  --card-bg: #0D1117;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 100px;
}
body {
  height: 100%;
  color: var(--text-primary);
  font-size: 0.16rem;
  line-height: 1.75;
  font-family: -apple-system, 'Helvetica Neue', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Emoji One Color', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background: var(--body-bg);
}
/* a tag */
a {
  color: var(--text-primary);
}
a:link,
a:active,
a:visited {
  color: var(--text-primary);
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--brand);
  text-decoration: underline;
  text-underline-offset: 0.03rem;
  outline: none;
}
/* a tag end */
/* h1~h6 */
h1 {
  color: var(--title);
  font-weight: 500;
  padding-top: 20px;
  font-size: 0.28rem;
  padding: 0;
}
h2 {
  color: var(--title);
  font-weight: 500;
  padding-top: 20px;
  font-size: 0.24rem;
}
h3 {
  color: var(--title);
  font-weight: 500;
  padding-top: 20px;
  font-size: 0.2rem;
}
h4 {
  color: var(--title);
  font-weight: 500;
  padding-top: 20px;
  font-size: 0.18rem;
}
h5 {
  color: var(--title);
  font-weight: 500;
  padding-top: 20px;
  font-size: 0.16rem;
}
h6 {
  color: var(--title);
  font-weight: 500;
  padding-top: 20px;
  font-size: 0.14rem;
}
/* h1~h6 end */
/* code inline*/
li > code,
p > code,
td > code {
  color: var(--code-inline);
  padding: 0.02rem 0.04rem;
  background-color: var(--code-inline-bg);
  border-radius: 0.04rem;
}
code {
  font-family: Consolas, "Microsoft YaHei", KaiTi, "Courier New", monospace;
}
code pre {
  font-family: Consolas, "Microsoft YaHei", KaiTi, "Courier New", monospace;
}
.highlight .rouge-gutter {
  text-align: right;
  padding-right: 0.5em;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.highlight .rouge-code {
  padding-left: 0.5em;
}
.highlight .rouge-code pre {
  white-space: pre;
}
/* code inline end */
/* code block */
pre {
  white-space: pre-wrap;
  padding: 0;
}
pre > code {
  padding: 0;
  border-radius: 0.05rem;
  font-family: Consolas, "Microsoft YaHei", KaiTi, "Courier New", monospace;
}
pre > code table pre.lineno {
  min-width: 0.2rem;
}
.highlighter-rouge .highlight {
  border-radius: 0.04rem;
}
.highlighter-rouge .highlight pre.highlight {
  border-radius: 0.04rem;
}
/* code block end */
/* 引用 */
blockquote {
  background-color: var(--bg);
  border-left: 0.03rem solid var(--disabled);
  padding: 0.16rem;
  margin: 0;
}
blockquote p {
  padding: 0;
  margin: 0;
}
blockquote ul,
blockquote ol {
  padding: 0 0 0 0.16rem;
  margin: 0;
}
/* 引用 end */
/* table */
.post-content > table {
  width: 100%;
  border-collapse: collapse;
}
.post-content > table thead {
  white-space: nowrap;
  background-color: var(--table-header);
}
.post-content > table tbody {
  background-color: var(--table-body);
}
.post-content > table tbody tr:hover,
.post-content > table tbody tr:nth-child(even) {
  background-color: var(--table-header);
}
.post-content > table th,
.post-content > table td {
  text-align: left;
  padding: 0.06rem 0.12rem;
  border-bottom: 1px solid var(--border);
}
/* table end */
/* card */
.card {
  background-color: var(--card-bg);
  padding: 0.16rem;
  border: 1px solid var(--border);
  border-radius: 0.04rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
/* card end */
/* line */
.line {
  height: 0.03rem;
  background-color: var(--secondary);
  margin: calc(0.14rem * 1.854) 0 calc(0.14rem * 3);
}
/* line end */
/* text */
.text-tip {
  color: var(--disabled);
  font-size: 0.14rem;
}
/* text end */
/* cursor */
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-pointer {
  cursor: pointer;
}
/* cursor end */
/* Loop */
.p-0 {
  padding: 0rem;
}
.p-t-0 {
  padding-top: 0rem;
}
.p-r-0 {
  padding-right: 0rem;
}
.p-b-0 {
  padding-bottom: 0rem;
}
.p-l-0 {
  padding-left: 0rem;
}
.p-tb-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.p-lr-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}
.m-0 {
  margin: 0rem;
}
.m-t-0 {
  margin-top: 0rem;
}
.m-r-0 {
  margin-right: 0rem;
}
.m-b-0 {
  margin-bottom: 0rem;
}
.m-l-0 {
  margin-left: 0rem;
}
.m-tb-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.m-lr-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}
.p-1 {
  padding: 0.01rem;
}
.p-t-1 {
  padding-top: 0.01rem;
}
.p-r-1 {
  padding-right: 0.01rem;
}
.p-b-1 {
  padding-bottom: 0.01rem;
}
.p-l-1 {
  padding-left: 0.01rem;
}
.p-tb-1 {
  padding-top: 0.01rem;
  padding-bottom: 0.01rem;
}
.p-lr-1 {
  padding-left: 0.01rem;
  padding-right: 0.01rem;
}
.m-1 {
  margin: 0.01rem;
}
.m-t-1 {
  margin-top: 0.01rem;
}
.m-r-1 {
  margin-right: 0.01rem;
}
.m-b-1 {
  margin-bottom: 0.01rem;
}
.m-l-1 {
  margin-left: 0.01rem;
}
.m-tb-1 {
  margin-top: 0.01rem;
  margin-bottom: 0.01rem;
}
.m-lr-1 {
  margin-left: 0.01rem;
  margin-right: 0.01rem;
}
.p-2 {
  padding: 0.02rem;
}
.p-t-2 {
  padding-top: 0.02rem;
}
.p-r-2 {
  padding-right: 0.02rem;
}
.p-b-2 {
  padding-bottom: 0.02rem;
}
.p-l-2 {
  padding-left: 0.02rem;
}
.p-tb-2 {
  padding-top: 0.02rem;
  padding-bottom: 0.02rem;
}
.p-lr-2 {
  padding-left: 0.02rem;
  padding-right: 0.02rem;
}
.m-2 {
  margin: 0.02rem;
}
.m-t-2 {
  margin-top: 0.02rem;
}
.m-r-2 {
  margin-right: 0.02rem;
}
.m-b-2 {
  margin-bottom: 0.02rem;
}
.m-l-2 {
  margin-left: 0.02rem;
}
.m-tb-2 {
  margin-top: 0.02rem;
  margin-bottom: 0.02rem;
}
.m-lr-2 {
  margin-left: 0.02rem;
  margin-right: 0.02rem;
}
.p-3 {
  padding: 0.03rem;
}
.p-t-3 {
  padding-top: 0.03rem;
}
.p-r-3 {
  padding-right: 0.03rem;
}
.p-b-3 {
  padding-bottom: 0.03rem;
}
.p-l-3 {
  padding-left: 0.03rem;
}
.p-tb-3 {
  padding-top: 0.03rem;
  padding-bottom: 0.03rem;
}
.p-lr-3 {
  padding-left: 0.03rem;
  padding-right: 0.03rem;
}
.m-3 {
  margin: 0.03rem;
}
.m-t-3 {
  margin-top: 0.03rem;
}
.m-r-3 {
  margin-right: 0.03rem;
}
.m-b-3 {
  margin-bottom: 0.03rem;
}
.m-l-3 {
  margin-left: 0.03rem;
}
.m-tb-3 {
  margin-top: 0.03rem;
  margin-bottom: 0.03rem;
}
.m-lr-3 {
  margin-left: 0.03rem;
  margin-right: 0.03rem;
}
.p-4 {
  padding: 0.04rem;
}
.p-t-4 {
  padding-top: 0.04rem;
}
.p-r-4 {
  padding-right: 0.04rem;
}
.p-b-4 {
  padding-bottom: 0.04rem;
}
.p-l-4 {
  padding-left: 0.04rem;
}
.p-tb-4 {
  padding-top: 0.04rem;
  padding-bottom: 0.04rem;
}
.p-lr-4 {
  padding-left: 0.04rem;
  padding-right: 0.04rem;
}
.m-4 {
  margin: 0.04rem;
}
.m-t-4 {
  margin-top: 0.04rem;
}
.m-r-4 {
  margin-right: 0.04rem;
}
.m-b-4 {
  margin-bottom: 0.04rem;
}
.m-l-4 {
  margin-left: 0.04rem;
}
.m-tb-4 {
  margin-top: 0.04rem;
  margin-bottom: 0.04rem;
}
.m-lr-4 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.p-5 {
  padding: 0.05rem;
}
.p-t-5 {
  padding-top: 0.05rem;
}
.p-r-5 {
  padding-right: 0.05rem;
}
.p-b-5 {
  padding-bottom: 0.05rem;
}
.p-l-5 {
  padding-left: 0.05rem;
}
.p-tb-5 {
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
}
.p-lr-5 {
  padding-left: 0.05rem;
  padding-right: 0.05rem;
}
.m-5 {
  margin: 0.05rem;
}
.m-t-5 {
  margin-top: 0.05rem;
}
.m-r-5 {
  margin-right: 0.05rem;
}
.m-b-5 {
  margin-bottom: 0.05rem;
}
.m-l-5 {
  margin-left: 0.05rem;
}
.m-tb-5 {
  margin-top: 0.05rem;
  margin-bottom: 0.05rem;
}
.m-lr-5 {
  margin-left: 0.05rem;
  margin-right: 0.05rem;
}
.p-6 {
  padding: 0.06rem;
}
.p-t-6 {
  padding-top: 0.06rem;
}
.p-r-6 {
  padding-right: 0.06rem;
}
.p-b-6 {
  padding-bottom: 0.06rem;
}
.p-l-6 {
  padding-left: 0.06rem;
}
.p-tb-6 {
  padding-top: 0.06rem;
  padding-bottom: 0.06rem;
}
.p-lr-6 {
  padding-left: 0.06rem;
  padding-right: 0.06rem;
}
.m-6 {
  margin: 0.06rem;
}
.m-t-6 {
  margin-top: 0.06rem;
}
.m-r-6 {
  margin-right: 0.06rem;
}
.m-b-6 {
  margin-bottom: 0.06rem;
}
.m-l-6 {
  margin-left: 0.06rem;
}
.m-tb-6 {
  margin-top: 0.06rem;
  margin-bottom: 0.06rem;
}
.m-lr-6 {
  margin-left: 0.06rem;
  margin-right: 0.06rem;
}
.p-7 {
  padding: 0.07rem;
}
.p-t-7 {
  padding-top: 0.07rem;
}
.p-r-7 {
  padding-right: 0.07rem;
}
.p-b-7 {
  padding-bottom: 0.07rem;
}
.p-l-7 {
  padding-left: 0.07rem;
}
.p-tb-7 {
  padding-top: 0.07rem;
  padding-bottom: 0.07rem;
}
.p-lr-7 {
  padding-left: 0.07rem;
  padding-right: 0.07rem;
}
.m-7 {
  margin: 0.07rem;
}
.m-t-7 {
  margin-top: 0.07rem;
}
.m-r-7 {
  margin-right: 0.07rem;
}
.m-b-7 {
  margin-bottom: 0.07rem;
}
.m-l-7 {
  margin-left: 0.07rem;
}
.m-tb-7 {
  margin-top: 0.07rem;
  margin-bottom: 0.07rem;
}
.m-lr-7 {
  margin-left: 0.07rem;
  margin-right: 0.07rem;
}
.p-8 {
  padding: 0.08rem;
}
.p-t-8 {
  padding-top: 0.08rem;
}
.p-r-8 {
  padding-right: 0.08rem;
}
.p-b-8 {
  padding-bottom: 0.08rem;
}
.p-l-8 {
  padding-left: 0.08rem;
}
.p-tb-8 {
  padding-top: 0.08rem;
  padding-bottom: 0.08rem;
}
.p-lr-8 {
  padding-left: 0.08rem;
  padding-right: 0.08rem;
}
.m-8 {
  margin: 0.08rem;
}
.m-t-8 {
  margin-top: 0.08rem;
}
.m-r-8 {
  margin-right: 0.08rem;
}
.m-b-8 {
  margin-bottom: 0.08rem;
}
.m-l-8 {
  margin-left: 0.08rem;
}
.m-tb-8 {
  margin-top: 0.08rem;
  margin-bottom: 0.08rem;
}
.m-lr-8 {
  margin-left: 0.08rem;
  margin-right: 0.08rem;
}
.p-9 {
  padding: 0.09rem;
}
.p-t-9 {
  padding-top: 0.09rem;
}
.p-r-9 {
  padding-right: 0.09rem;
}
.p-b-9 {
  padding-bottom: 0.09rem;
}
.p-l-9 {
  padding-left: 0.09rem;
}
.p-tb-9 {
  padding-top: 0.09rem;
  padding-bottom: 0.09rem;
}
.p-lr-9 {
  padding-left: 0.09rem;
  padding-right: 0.09rem;
}
.m-9 {
  margin: 0.09rem;
}
.m-t-9 {
  margin-top: 0.09rem;
}
.m-r-9 {
  margin-right: 0.09rem;
}
.m-b-9 {
  margin-bottom: 0.09rem;
}
.m-l-9 {
  margin-left: 0.09rem;
}
.m-tb-9 {
  margin-top: 0.09rem;
  margin-bottom: 0.09rem;
}
.m-lr-9 {
  margin-left: 0.09rem;
  margin-right: 0.09rem;
}
.p-10 {
  padding: 0.1rem;
}
.p-t-10 {
  padding-top: 0.1rem;
}
.p-r-10 {
  padding-right: 0.1rem;
}
.p-b-10 {
  padding-bottom: 0.1rem;
}
.p-l-10 {
  padding-left: 0.1rem;
}
.p-tb-10 {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.p-lr-10 {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.m-10 {
  margin: 0.1rem;
}
.m-t-10 {
  margin-top: 0.1rem;
}
.m-r-10 {
  margin-right: 0.1rem;
}
.m-b-10 {
  margin-bottom: 0.1rem;
}
.m-l-10 {
  margin-left: 0.1rem;
}
.m-tb-10 {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.m-lr-10 {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
.p-11 {
  padding: 0.11rem;
}
.p-t-11 {
  padding-top: 0.11rem;
}
.p-r-11 {
  padding-right: 0.11rem;
}
.p-b-11 {
  padding-bottom: 0.11rem;
}
.p-l-11 {
  padding-left: 0.11rem;
}
.p-tb-11 {
  padding-top: 0.11rem;
  padding-bottom: 0.11rem;
}
.p-lr-11 {
  padding-left: 0.11rem;
  padding-right: 0.11rem;
}
.m-11 {
  margin: 0.11rem;
}
.m-t-11 {
  margin-top: 0.11rem;
}
.m-r-11 {
  margin-right: 0.11rem;
}
.m-b-11 {
  margin-bottom: 0.11rem;
}
.m-l-11 {
  margin-left: 0.11rem;
}
.m-tb-11 {
  margin-top: 0.11rem;
  margin-bottom: 0.11rem;
}
.m-lr-11 {
  margin-left: 0.11rem;
  margin-right: 0.11rem;
}
.p-12 {
  padding: 0.12rem;
}
.p-t-12 {
  padding-top: 0.12rem;
}
.p-r-12 {
  padding-right: 0.12rem;
}
.p-b-12 {
  padding-bottom: 0.12rem;
}
.p-l-12 {
  padding-left: 0.12rem;
}
.p-tb-12 {
  padding-top: 0.12rem;
  padding-bottom: 0.12rem;
}
.p-lr-12 {
  padding-left: 0.12rem;
  padding-right: 0.12rem;
}
.m-12 {
  margin: 0.12rem;
}
.m-t-12 {
  margin-top: 0.12rem;
}
.m-r-12 {
  margin-right: 0.12rem;
}
.m-b-12 {
  margin-bottom: 0.12rem;
}
.m-l-12 {
  margin-left: 0.12rem;
}
.m-tb-12 {
  margin-top: 0.12rem;
  margin-bottom: 0.12rem;
}
.m-lr-12 {
  margin-left: 0.12rem;
  margin-right: 0.12rem;
}
.p-13 {
  padding: 0.13rem;
}
.p-t-13 {
  padding-top: 0.13rem;
}
.p-r-13 {
  padding-right: 0.13rem;
}
.p-b-13 {
  padding-bottom: 0.13rem;
}
.p-l-13 {
  padding-left: 0.13rem;
}
.p-tb-13 {
  padding-top: 0.13rem;
  padding-bottom: 0.13rem;
}
.p-lr-13 {
  padding-left: 0.13rem;
  padding-right: 0.13rem;
}
.m-13 {
  margin: 0.13rem;
}
.m-t-13 {
  margin-top: 0.13rem;
}
.m-r-13 {
  margin-right: 0.13rem;
}
.m-b-13 {
  margin-bottom: 0.13rem;
}
.m-l-13 {
  margin-left: 0.13rem;
}
.m-tb-13 {
  margin-top: 0.13rem;
  margin-bottom: 0.13rem;
}
.m-lr-13 {
  margin-left: 0.13rem;
  margin-right: 0.13rem;
}
.p-14 {
  padding: 0.14rem;
}
.p-t-14 {
  padding-top: 0.14rem;
}
.p-r-14 {
  padding-right: 0.14rem;
}
.p-b-14 {
  padding-bottom: 0.14rem;
}
.p-l-14 {
  padding-left: 0.14rem;
}
.p-tb-14 {
  padding-top: 0.14rem;
  padding-bottom: 0.14rem;
}
.p-lr-14 {
  padding-left: 0.14rem;
  padding-right: 0.14rem;
}
.m-14 {
  margin: 0.14rem;
}
.m-t-14 {
  margin-top: 0.14rem;
}
.m-r-14 {
  margin-right: 0.14rem;
}
.m-b-14 {
  margin-bottom: 0.14rem;
}
.m-l-14 {
  margin-left: 0.14rem;
}
.m-tb-14 {
  margin-top: 0.14rem;
  margin-bottom: 0.14rem;
}
.m-lr-14 {
  margin-left: 0.14rem;
  margin-right: 0.14rem;
}
.p-15 {
  padding: 0.15rem;
}
.p-t-15 {
  padding-top: 0.15rem;
}
.p-r-15 {
  padding-right: 0.15rem;
}
.p-b-15 {
  padding-bottom: 0.15rem;
}
.p-l-15 {
  padding-left: 0.15rem;
}
.p-tb-15 {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}
.p-lr-15 {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}
.m-15 {
  margin: 0.15rem;
}
.m-t-15 {
  margin-top: 0.15rem;
}
.m-r-15 {
  margin-right: 0.15rem;
}
.m-b-15 {
  margin-bottom: 0.15rem;
}
.m-l-15 {
  margin-left: 0.15rem;
}
.m-tb-15 {
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}
.m-lr-15 {
  margin-left: 0.15rem;
  margin-right: 0.15rem;
}
.p-16 {
  padding: 0.16rem;
}
.p-t-16 {
  padding-top: 0.16rem;
}
.p-r-16 {
  padding-right: 0.16rem;
}
.p-b-16 {
  padding-bottom: 0.16rem;
}
.p-l-16 {
  padding-left: 0.16rem;
}
.p-tb-16 {
  padding-top: 0.16rem;
  padding-bottom: 0.16rem;
}
.p-lr-16 {
  padding-left: 0.16rem;
  padding-right: 0.16rem;
}
.m-16 {
  margin: 0.16rem;
}
.m-t-16 {
  margin-top: 0.16rem;
}
.m-r-16 {
  margin-right: 0.16rem;
}
.m-b-16 {
  margin-bottom: 0.16rem;
}
.m-l-16 {
  margin-left: 0.16rem;
}
.m-tb-16 {
  margin-top: 0.16rem;
  margin-bottom: 0.16rem;
}
.m-lr-16 {
  margin-left: 0.16rem;
  margin-right: 0.16rem;
}
.p-17 {
  padding: 0.17rem;
}
.p-t-17 {
  padding-top: 0.17rem;
}
.p-r-17 {
  padding-right: 0.17rem;
}
.p-b-17 {
  padding-bottom: 0.17rem;
}
.p-l-17 {
  padding-left: 0.17rem;
}
.p-tb-17 {
  padding-top: 0.17rem;
  padding-bottom: 0.17rem;
}
.p-lr-17 {
  padding-left: 0.17rem;
  padding-right: 0.17rem;
}
.m-17 {
  margin: 0.17rem;
}
.m-t-17 {
  margin-top: 0.17rem;
}
.m-r-17 {
  margin-right: 0.17rem;
}
.m-b-17 {
  margin-bottom: 0.17rem;
}
.m-l-17 {
  margin-left: 0.17rem;
}
.m-tb-17 {
  margin-top: 0.17rem;
  margin-bottom: 0.17rem;
}
.m-lr-17 {
  margin-left: 0.17rem;
  margin-right: 0.17rem;
}
.p-18 {
  padding: 0.18rem;
}
.p-t-18 {
  padding-top: 0.18rem;
}
.p-r-18 {
  padding-right: 0.18rem;
}
.p-b-18 {
  padding-bottom: 0.18rem;
}
.p-l-18 {
  padding-left: 0.18rem;
}
.p-tb-18 {
  padding-top: 0.18rem;
  padding-bottom: 0.18rem;
}
.p-lr-18 {
  padding-left: 0.18rem;
  padding-right: 0.18rem;
}
.m-18 {
  margin: 0.18rem;
}
.m-t-18 {
  margin-top: 0.18rem;
}
.m-r-18 {
  margin-right: 0.18rem;
}
.m-b-18 {
  margin-bottom: 0.18rem;
}
.m-l-18 {
  margin-left: 0.18rem;
}
.m-tb-18 {
  margin-top: 0.18rem;
  margin-bottom: 0.18rem;
}
.m-lr-18 {
  margin-left: 0.18rem;
  margin-right: 0.18rem;
}
.p-19 {
  padding: 0.19rem;
}
.p-t-19 {
  padding-top: 0.19rem;
}
.p-r-19 {
  padding-right: 0.19rem;
}
.p-b-19 {
  padding-bottom: 0.19rem;
}
.p-l-19 {
  padding-left: 0.19rem;
}
.p-tb-19 {
  padding-top: 0.19rem;
  padding-bottom: 0.19rem;
}
.p-lr-19 {
  padding-left: 0.19rem;
  padding-right: 0.19rem;
}
.m-19 {
  margin: 0.19rem;
}
.m-t-19 {
  margin-top: 0.19rem;
}
.m-r-19 {
  margin-right: 0.19rem;
}
.m-b-19 {
  margin-bottom: 0.19rem;
}
.m-l-19 {
  margin-left: 0.19rem;
}
.m-tb-19 {
  margin-top: 0.19rem;
  margin-bottom: 0.19rem;
}
.m-lr-19 {
  margin-left: 0.19rem;
  margin-right: 0.19rem;
}
.p-20 {
  padding: 0.2rem;
}
.p-t-20 {
  padding-top: 0.2rem;
}
.p-r-20 {
  padding-right: 0.2rem;
}
.p-b-20 {
  padding-bottom: 0.2rem;
}
.p-l-20 {
  padding-left: 0.2rem;
}
.p-tb-20 {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.p-lr-20 {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.m-20 {
  margin: 0.2rem;
}
.m-t-20 {
  margin-top: 0.2rem;
}
.m-r-20 {
  margin-right: 0.2rem;
}
.m-b-20 {
  margin-bottom: 0.2rem;
}
.m-l-20 {
  margin-left: 0.2rem;
}
.m-tb-20 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.m-lr-20 {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.f-s-12 {
  font-size: 0.12rem;
}
.f-s-14 {
  font-size: 0.14rem;
}
.f-s-16 {
  font-size: 0.16rem;
}
.f-s-18 {
  font-size: 0.18rem;
}
.f-s-20 {
  font-size: 0.2rem;
}
.f-s-22 {
  font-size: 0.22rem;
}
.f-s-24 {
  font-size: 0.24rem;
}
.f-s-26 {
  font-size: 0.26rem;
}
.f-s-28 {
  font-size: 0.28rem;
}
/* Loop end */
/* no data */
.no-data {
  text-align: center;
}
/* no data end */
/* selection */
::selection {
  background-color: var(--brand);
  color: #fff;
}
::-moz-selection {
  background-color: var(--brand);
  color: #fff;
}
/* selection end */
/* scrollbar */
/* 滚动条垂直方向的宽度与水平方向的高度 */
/* 滚动条轨道 */
/* 滚动条轨道上的按钮 */
/* 滚动条垂直方向轨道件 */
/* 滚动条按钮 */
/* 滚动条轨道上的滚动角 */
/* scrollbar end */
/* 斜体 */
/* font-style: italic; */
em {
  color: var(--text-secondary);
}
/* 斜体 */
.flex-box {
  display: flex;
}
#header-bg {
  width: 100%;
  height: 0.5rem;
  background-color: var(--header-bg);
  box-shadow: 0 0.02rem 0.12rem 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1;
}
#site-scroll {
  height: 100vh;
  overflow: auto;
}
#site-container {
  display: flex;
  justify-content: start;
  max-width: 14.4rem;
  margin: 0 auto;
}
#site-container #aside {
  flex: 1;
  width: 0;
  position: sticky;
  top: 0;
}
#site-container .container {
  flex: 5;
}
#page-404 {
  text-align: center;
}
#aside {
  height: 100vh;
  z-index: 2;
}
#aside ul .is-active a {
  color: #fff;
}
#aside a {
  color: rgba(255, 255, 255, 0.45);
}
#aside a:hover {
  color: #fff;
  text-decoration: none;
}
#aside a:hover,
#aside a:focus,
#aside a:active,
#aside a:visited {
  text-decoration: none;
}
#aside .guid {
  width: 100%;
  height: 100%;
  float: left;
  color: #ccc;
  position: relative;
  background-color: #000;
}
#aside .guid .avatar-box {
  display: block;
  background-color: var(--disabled);
  margin: 0.5rem 20% 0.3rem;
}
#aside .guid .avatar-box .avatar {
  display: block;
  width: 100%;
  max-width: 1.2rem;
  max-height: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 0.02rem solid #fff;
  box-sizing: border-box;
}
#aside .guid ul {
  margin: 0.1rem 0;
  padding: 0;
  list-style: none;
}
#aside .guid ul li.guid-item {
  padding: 0.1rem 0.3rem;
  text-align: center;
}
#aside .guid ul li.is-active {
  color: #fff;
}
#aside .guid ul li.is-active a {
  color: #fff;
}
#aside .guid .my-msg {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 0.2rem;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
#header {
  width: calc(84%);
  max-width: 12rem;
  height: 0.5rem;
  line-height: 0.5rem;
  background: var(--header-bg);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}
#header.show-row-theme .row-search {
  margin-top: -0.5rem;
}
#header .toggle-search-theme {
  align-self: flex-start;
}
#header .row-search {
  height: 0.5rem;
  line-height: 0.55rem;
  -webkit-transition: all 0.1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.1s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.1s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}
#header .row-theme {
  height: 0.5rem;
  line-height: 0.55rem;
  text-align: right;
}
#header .search-box {
  display: inline-block;
  text-align: left;
  height: 0.32rem;
  line-height: 0.32rem;
  background: var(--bg);
  border: none;
  border-bottom: 2px solid var(--border);
}
#header .search-box input {
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
}
#header .search-box .shortcut-key {
  padding: 0 0.07rem;
  border: 1px solid var(--border);
  border-radius: 0.03rem;
  font-size: 0.16rem;
  line-height: 0.2rem;
  display: inline-block;
}
#header .search-box .search-mask {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
#header .search-box .result-box {
  font-size: 0.14rem;
  width: 6rem;
  background: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 0.03rem;
  box-shadow: 0 0.02rem 0.12rem 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  left: calc((100% - 6rem) / 2);
  top: 1rem;
  z-index: 10;
}
#header .search-box .result-box i:not(.icon-file, .icon-folder-open, .icon-tag) {
  font-size: 0.2rem;
}
#header .search-box .result-box .search-box {
  height: 0.32rem;
  line-height: 0.32rem;
  background: var(--bg);
  border: none;
  border-bottom: 2px solid var(--border);
  width: calc(100% - 0.2rem);
  background: transparent;
}
#header .search-box .result-box .search-box input {
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
}
#header .search-box .result-box .search-box input {
  width: calc(100% - 0.5rem);
}
#header .search-box .result-box .search-box i.icon-close {
  padding: 0.06rem 0.05rem;
  margin-right: -0.05rem;
}
#header .search-box .result-box .search-box i.icon-close.search-clear-btn {
  color: var(--secondary);
}
#header .search-box .result-box .type {
  padding: 0.03rem 0.1rem;
  background: var(--bg);
}
#header .search-box .result-box ul {
  list-style: none;
  line-height: 1.8;
  padding-left: 0.24rem;
}
#header .search-box .result-box ul li {
  padding-right: 0.24rem;
}
#site-menu-btn {
  display: none;
  padding: 0.18rem 0.17rem;
  line-height: 0;
  font-size: 0;
  width: 0.15rem;
  box-sizing: content-box;
}
#site-menu-btn .line {
  width: 100%;
  height: 0.02rem;
  display: inline-block;
  background: var(--text-primary);
  margin: 0;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
#site-menu-btn .line-middle {
  margin: 0.04rem 0;
}
#main {
  display: flex;
  padding: 0.6rem 0.1rem 0;
  justify-content: flex-start;
}
#main.aside-sticky {
  align-items: flex-start;
}
#main .main-view {
  flex: 3;
  min-height: calc(100vh - 1.04rem);
  width: 0;
  margin: 0 0.05rem 0 0;
}
#main .main-aside {
  flex: 1;
  width: 0;
  margin: 0 0 0 0.05rem;
}
#main .main-aside .card:not(:last-child) {
  margin: 0 0 0.1rem 0;
}
#main .main-aside a {
  color: var(--text-secondary);
}
#main .main-aside #recent-update a:hover {
  color: var(--brand);
  text-decoration: underline;
}
#main .position-sticky {
  position: sticky;
  top: 0.6rem;
}
#main .position-sticky.card {
  display: none;
}
#main #pagination a:hover {
  text-decoration: none;
}
#main #page-404 a {
  text-decoration: underline var(--border);
  text-underline-offset: 0.03rem;
}
#main #page-404 a:hover {
  text-decoration-color: var(--brand);
}
#home .post-content {
  color: var(--text-secondary);
  word-break: break-word;
}
#home .post-message a {
  color: var(--disabled);
}
#home .post-message a:hover {
  color: var(--brand);
}
#home .line {
  height: 1px;
  background: var(--divider);
  margin: 0.16rem 0;
}
#pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pagination .number {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  padding: 0;
  border-radius: 0.04rem;
  margin: 0 0.04rem;
}
#pagination .number:hover {
  color: #fff;
  background: var(--brand);
}
#pagination .number:hover a {
  color: #fff;
}
#pagination .number.btn-not-allowed:hover {
  color: #ccc;
  background: transparent;
}
#pagination .number i {
  display: none;
}
#pagination .number:hover span {
  display: none;
}
#pagination .number:hover i {
  display: inline-block;
}
#pagination .previous {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  padding: 0;
  border-radius: 0.04rem;
  margin: 0 0.04rem;
}
#pagination .previous:hover {
  color: #fff;
  background: var(--brand);
}
#pagination .previous:hover a {
  color: #fff;
}
#pagination .previous.btn-not-allowed:hover {
  color: #ccc;
  background: transparent;
}
#pagination .next {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  padding: 0;
  border-radius: 0.04rem;
  margin: 0 0.04rem;
}
#pagination .next:hover {
  color: #fff;
  background: var(--brand);
}
#pagination .next:hover a {
  color: #fff;
}
#pagination .next.btn-not-allowed:hover {
  color: #ccc;
  background: transparent;
}
#pagination .is-active {
  color: #fff;
  background: var(--brand);
}
#pagination .mobile-page-number {
  display: none;
}
#pagination .btn-not-allowed {
  color: #ccc;
}
#categories ul.tabs {
  list-style: none;
  margin-bottom: 0.3rem;
}
#categories ul.tabs li {
  display: inline-block;
  margin-right: 0.4rem;
  border-bottom: 0.03rem solid transparent;
}
#categories ul.tabs li.is-active {
  border-bottom: 0.03rem solid var(--border);
}
#categories .tag-anchor-point {
  padding: 0.8rem 0 0 0;
  margin: -0.6rem 0 0 0;
}
#categories ul {
  line-height: 2;
}
#categories ul.category-group {
  display: none;
  padding-left: 1.5rem;
}
#categories ul.category-group .box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
#categories ul.category-group .title {
  margin-left: 0.2rem;
  border-bottom: 1px solid transparent;
}
#categories ul.category-group .date {
  display: inline-block;
  width: 0.9rem;
  margin-left: -1.1rem;
}
#category ul {
  line-height: 2;
  list-style: none;
}
#category li {
  display: flex;
}
#category .line-dashed {
  flex: 1;
  border-bottom: 1px dashed #ccc;
  margin: 0 0.1rem 0.1rem;
}
#tags {
  list-style: none;
}
#tags ul.tag-inline-block li {
  display: inline-block;
  margin: 0 0.08rem 0.08rem 0;
}
#tags ul.tag-inline-block li a {
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  overflow: hidden;
  border-radius: 0.03rem;
}
#tags ul.tag-inline-block li a .name {
  float: left;
  background: var(--tag-text-bg);
  padding: 0 0.08rem;
}
#tags ul.tag-inline-block li a .count {
  float: left;
  background: var(--tag-number-bg);
  padding: 0 0.06rem;
}
#tags ul.tag-inline-block li a:hover {
  border: none !important;
  box-shadow: 0 0 5px var(--tag-number-bg);
}
#tags ul.tag-inline-block li a:hover .name {
  background: var(--tag-number-bg);
}
#tags .tag-anchor-point {
  padding: 0.8rem 0 0 0;
  margin: -0.6rem 0 0 0;
}
#tags .tag-anchor-point.is-active {
  color: var(--brand);
}
#tags ul:not(.tag-inline-block) {
  line-height: 2;
}
#tags ul.tag-group {
  padding-left: 1.5rem;
}
#tags ul.tag-group .box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
#tags ul.tag-group .title {
  margin-left: 0.2rem;
  border-bottom: 1px solid transparent;
}
#tags ul.tag-group .date {
  display: inline-block;
  width: 0.9rem;
  margin-left: -1.1rem;
}
#tag ul {
  line-height: 2;
}
#tag ul li {
  display: flex;
}
#tag ul .line-dashed {
  flex: 1;
  border-bottom: 1px dashed #ccc;
  margin: 0 0.1rem 0.1rem 0.1rem;
}
#trending-tags ul.tag-inline-block li {
  display: inline-block;
  margin: 0 0.08rem 0.08rem 0;
}
#trending-tags ul.tag-inline-block li a {
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  overflow: hidden;
  border-radius: 0.03rem;
}
#trending-tags ul.tag-inline-block li a .name {
  float: left;
  background: var(--tag-text-bg);
  padding: 0 0.08rem;
}
#trending-tags ul.tag-inline-block li a .count {
  float: left;
  background: var(--tag-number-bg);
  padding: 0 0.06rem;
}
#trending-tags ul.tag-inline-block li a:hover {
  border: none !important;
  box-shadow: 0 0 5px var(--tag-number-bg);
}
#trending-tags ul.tag-inline-block li a:hover .name {
  background: var(--tag-number-bg);
}
#trending-tags a {
  font-size: 0.14rem;
}
#archives .year {
  width: 1.5rem;
  text-align: right;
  line-height: 0.5rem;
  font-size: 0.24rem;
  position: relative;
}
#archives .year::after {
  display: inline-block;
  content: "";
  width: 0.08rem;
  height: 0.08rem;
  line-height: 1.5;
  margin: 0 0.11rem;
  background: var(--disabled);
  border-radius: 50%;
  box-shadow: 0 0 0.03rem var(--disabled);
  position: relative;
  width: 0.06rem;
  height: 0.06rem;
  background: #fff;
  border: 3px solid var(--disabled);
  margin: 0 0.09rem;
  z-index: 2;
}
#archives .year .line {
  display: inline-block;
  content: "";
  width: 0.04rem;
  height: 0.5rem;
  background: var(--divider);
  margin: 0 0.13rem;
  position: absolute;
  right: 0;
  bottom: 0.18rem;
}
#archives .month {
  width: 1.5rem;
  text-align: right;
  line-height: 0.5rem;
  font-size: 0.16rem;
  position: relative;
}
#archives .month::after {
  display: inline-block;
  content: "";
  width: 0.08rem;
  height: 0.08rem;
  line-height: 1.5;
  margin: 0 0.11rem;
  background: var(--disabled);
  border-radius: 50%;
  box-shadow: 0 0 0.03rem var(--disabled);
  width: 0.04rem;
  height: 0.04rem;
  background: #fff;
  border: 2px solid var(--disabled);
  position: relative;
}
#archives .month .line {
  display: inline-block;
  content: "";
  width: 0.04rem;
  height: 0.5rem;
  background: var(--divider);
  margin: 0 0.13rem;
  position: absolute;
  right: 0;
  bottom: 0.18rem;
}
#archives .day-title {
  font-size: 0.16rem;
}
#archives .day-title .day {
  width: 1.5rem;
  text-align: right;
  line-height: 0.5rem;
  display: inline-block;
  position: relative;
}
#archives .day-title .day::after {
  display: inline-block;
  content: "";
  width: 0.08rem;
  height: 0.08rem;
  line-height: 1.5;
  margin: 0 0.11rem;
  background: var(--disabled);
  border-radius: 50%;
  box-shadow: 0 0 0.03rem var(--disabled);
  position: relative;
}
#archives .day-title .day .line {
  display: inline-block;
  content: "";
  width: 0.04rem;
  height: 0.5rem;
  background: var(--divider);
  margin: 0 0.13rem;
  position: absolute;
  right: 0;
  bottom: 0.18rem;
}
#post .post-message {
  color: var(--disabled);
  font-size: 0.14rem;
}
#post .post-message a {
  color: var(--disabled);
}
#post .post-message a:hover {
  color: var(--brand);
}
#post .post-content {
  word-break: break-word;
}
#post .post-content h2,
#post .post-content h3,
#post .post-content h4,
#post .post-content h5,
#post .post-content h6 {
  padding-top: 0.8rem;
  margin-top: -0.6rem;
}
#post .post-content .post-img {
  text-align: center;
}
#post .post-content img {
  color: var(--disabled);
  width: auto;
  max-width: 60%;
  background: var(--bg);
  cursor: -webkit-zoom-in;
  padding: 0.1rem;
  border-radius: 0.03rem;
}
#post .post-content img + .img-alt {
  color: var(--disabled);
  font-size: 0.14rem;
  margin-top: 0;
}
#post .post-content a {
  text-decoration: underline var(--border);
  text-underline-offset: 0.03rem;
}
#post .post-content a:hover {
  text-decoration-color: var(--brand);
}
#post .post-content .task-list {
  list-style: none;
  padding-left: 0.2rem;
}
#post .post-content .task-list .task-list-item input[type="checkbox"] {
  margin-right: 0.08rem;
}
#post #gitalk-container .gt-container svg {
  fill: var(--secondary);
}
#post #gitalk-container .gt-container textarea,
#post #gitalk-container .gt-container .gt-header-preview.markdown-body {
  color: var(--primary);
  background: var(--bg);
}
#post #gitalk-container .gt-ico .gt-ico-text {
  color: var(--brand);
}
#post #gitalk-container .gt-btn.gt-btn-preview {
  color: var(--brand);
  border-color: var(--brand);
}
#post #gitalk-container .gt-btn.gt-btn-login,
#post #gitalk-container .gt-btn.gt-btn-public {
  background: var(--brand);
  border-color: var(--brand);
}
#previous-next-post {
  display: flex;
  border-top: 0.03rem solid var(--secondary);
  justify-content: space-around;
  margin: 0.32rem 0 0 0;
}
.previous {
  flex: 1;
  text-align: center;
  padding: 0.1rem;
  margin: 0.16rem 0.08rem;
  border-radius: 0.04rem;
}
.previous:hover {
  background: var(--bg);
}
.previous:hover a {
  color: var(--text-primary);
  text-decoration: none;
}
.next {
  flex: 1;
  text-align: center;
  padding: 0.1rem;
  margin: 0.16rem 0.08rem;
  border-radius: 0.04rem;
}
.next:hover {
  background: var(--bg);
}
.next:hover a {
  color: var(--text-primary);
  text-decoration: none;
}
#footer {
  font-size: 0.14rem;
  text-align: center;
  padding: 0.1rem 0;
}
#site-scroll.show-site-menu {
  overflow: hidden;
}
#site-scroll.show-site-menu #aside {
  right: 0;
}
#site-scroll.show-site-menu .container {
  left: 100%;
}
#site-scroll.show-site-menu .container #header {
  justify-content: flex-end;
}
#site-scroll.show-site-menu .container #site-menu-btn {
  position: fixed;
  top: 0;
  left: 0;
}
#site-scroll.show-site-menu .container #site-menu-btn .line {
  background: #fff;
}
#site-scroll.show-site-menu .container #site-menu-btn .line-first {
  width: 70%;
  -webkit-transform: translateX(-0.03rem) translateY(0.03rem) rotate(-45deg);
  -moz-transform: translateX(-0.03rem) translateY(0.03rem) rotate(-45deg);
  -ms-transform: translateX(-0.03rem) translateY(0.03rem) rotate(-45deg);
  -o-transform: translateX(-0.03rem) translateY(0.03rem) rotate(-45deg);
  transform: translateX(-0.03rem) translateY(0.03rem) rotate(-45deg);
}
#site-scroll.show-site-menu .container #site-menu-btn .line-last {
  width: 70%;
  -webkit-transform: translateX(-0.03rem) translateY(-0.03rem) rotate(45deg);
  -moz-transform: translateX(-0.03rem) translateY(-0.03rem) rotate(45deg);
  -ms-transform: translateX(-0.03rem) translateY(-0.03rem) rotate(45deg);
  -o-transform: translateX(-0.03rem) translateY(-0.03rem) rotate(45deg);
  transform: translateX(-0.03rem) translateY(-0.03rem) rotate(45deg);
}
#post-menu {
  min-height: 0.24rem;
  font-size: 0.14rem;
  overflow-y: auto;
  z-index: 1;
}
#post-menu .sidebar-panel-box {
  background-clip: content-box;
}
#post-menu .pin {
  width: 100%;
  height: 0.24rem;
  border-left: 0.03rem solid var(--brand);
  background-color: var(--bg);
  box-sizing: border-box;
  position: absolute;
  left: 0;
  -webkit-transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
#post-menu .sidebar-panel-ul {
  list-style: none;
  position: relative;
  margin: 0;
}
#post-menu .sidebar-panel-ul li {
  height: 0.24rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#post-menu .sidebar-panel-ul li a {
  color: var(--text-secondary);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
#post-menu .sidebar-panel-ul li a:hover,
#post-menu .sidebar-panel-ul li a:focus,
#post-menu .sidebar-panel-ul li a:active,
#post-menu .sidebar-panel-ul li a:visited {
  color: var(--brand);
  text-decoration: none;
}
#post-menu .sidebar-panel-ul li a:visited,
#post-menu .sidebar-panel-ul li a:focus,
#post-menu .sidebar-panel-ul li a:active {
  font-weight: 400;
  color: var(--text-secondary);
}
#post-menu .sidebar-panel-ul li.is-active a {
  color: var(--brand);
}
#post-menu .sidebar-panel-ul .li-h3 {
  padding-left: 1em;
}
#post-menu .sidebar-panel-ul .li-h4 {
  padding-left: 2em;
}
#post-menu .sidebar-panel-ul .li-h5 {
  padding-left: 3em;
}
#post-menu .sidebar-panel-ul .li-h6 {
  padding-left: 4em;
}
/* back2top btn */
#back2top {
  display: none;
  width: 0.4rem;
  height: 0.4rem;
  font-size: 0;
  text-align: center;
  background-color: var(--brand);
  cursor: pointer;
  position: fixed;
  right: 0.3rem;
  bottom: 0.3rem;
  border-radius: 50%;
  z-index: 2;
  padding: 0.12rem 0.14rem;
  box-sizing: border-box;
  box-shadow: 0 0 0.05rem rgba(0, 0, 0, 0.7);
}
#back2top .bt-line {
  height: 0.02rem;
  width: 100%;
  display: inline-block;
  background-color: #fff;
}
#back2top .bt-line-first {
  margin-top: 0.06rem;
  -webkit-transform: translate(0.04rem, 0) rotate(45deg);
  -moz-transform: translate(0.04rem, 0) rotate(45deg);
  -ms-transform: translate(0.04rem, 0) rotate(45deg);
  -o-transform: translate(0.04rem, 0) rotate(45deg);
  transform: translate(0.04rem, 0) rotate(45deg);
}
#back2top .bt-line-last {
  -webkit-transform: translate(-0.04rem, -0.02rem) rotate(-45deg);
  -moz-transform: translate(-0.04rem, -0.02rem) rotate(-45deg);
  -ms-transform: translate(-0.04rem, -0.02rem) rotate(-45deg);
  -o-transform: translate(-0.04rem, -0.02rem) rotate(-45deg);
  transform: translate(-0.04rem, -0.02rem) rotate(-45deg);
}
/* back2top btn end */
/* mask layer */
#mask-layer {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
}
#mask-layer .mask-layer-box {
  width: 100%;
  height: 100%;
  display: table;
  line-height: 0;
}
#mask-layer .mask-layer-box .mask-layer-img {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
#mask-layer .mask-layer-box .mask-layer-img img {
  max-width: calc(90%);
  background: var(--bg);
  padding: 0.1rem;
  border-radius: 0.03rem;
}
#mask-layer .mask-layer-btn {
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--brand);
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
  padding: 0.12rem;
  box-sizing: border-box;
  position: fixed;
  top: 0.3rem;
  right: 0.3rem;
}
#mask-layer .mask-layer-btn .mask-layer-line {
  width: 100%;
  height: 0.02rem;
  display: inline-block;
  background-color: #fff;
}
#mask-layer .mask-layer-btn .mask-layer-line-first {
  margin-bottom: 0.05rem;
  -webkit-transform: translate(-0.025rem, 0.01rem) rotate(-45deg);
  -moz-transform: translate(-0.025rem, 0.01rem) rotate(-45deg);
  -ms-transform: translate(-0.025rem, 0.01rem) rotate(-45deg);
  -o-transform: translate(-0.025rem, 0.01rem) rotate(-45deg);
  transform: translate(-0.025rem, 0.01rem) rotate(-45deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
#mask-layer .mask-layer-btn .mask-layer-line-last {
  margin-top: 0.05rem;
  -webkit-transform: translate(-0.025rem, 0.005rem) rotate(45deg);
  -moz-transform: translate(-0.025rem, 0.005rem) rotate(45deg);
  -ms-transform: translate(-0.025rem, 0.005rem) rotate(45deg);
  -o-transform: translate(-0.025rem, 0.005rem) rotate(45deg);
  transform: translate(-0.025rem, 0.005rem) rotate(45deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
/* mask layer end */
/* use animation */
#contents.fade-in {
  -webkit-animation: fade-in 0.3s;
  -moz-animation: fade-in 0.3s;
  -ms-animation: fade-in 0.3s;
  -o-animation: fade-in 0.3s;
  animation: fade-in 0.3s;
}
#contents.fade-out {
  -webkit-animation: fade-out 0.2s;
  -moz-animation: fade-out 0.2s;
  -ms-animation: fade-out 0.2s;
  -o-animation: fade-out 0.2s;
  animation: fade-out 0.2s;
}
/* use animation end */
/* fade-in style */
@-webkit-keyframes fade-in {
  from {
    -webkit-transform: translateY(0.3rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    -moz-transform: translateY(0.3rem);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    -ms-transform: translateY(0.3rem);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    -o-transform: translateY(0.3rem);
    opacity: 0;
  }
  to {
    -o-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    transform: translateY(0.3rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* fade-in style end */
/* fade-out style */
@-webkit-keyframes fade-out {
  from {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-0.3rem);
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    -moz-transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(-0.3rem);
    opacity: 0;
  }
}
@-ms-keyframes fade-out {
  from {
    -ms-transform: translateY(0);
    opacity: 1;
  }
  to {
    -ms-transform: translateY(-0.3rem);
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  from {
    -o-transform: translateY(0);
    opacity: 1;
  }
  to {
    -o-transform: translateY(-0.3rem);
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-0.3rem);
    opacity: 0;
  }
}
/* fade-out style end */
/* media query */
@media screen and (max-width: 767.98px) {
  #site-container {
    display: block;
    position: relative;
  }
  #site-container #aside {
    width: 100vw !important;
    position: fixed;
    right: 100vw;
    z-index: 3;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  #site-container #aside .avatar-box {
    margin: 0.5rem 35% 0.2rem;
  }
  #site-container .container {
    width: 100vw !important;
    position: absolute;
    left: 0;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  #site-container .container #header {
    width: 100%;
  }
  #site-container .container #header #site-menu-btn {
    display: inline-block;
  }
  #site-container .container #header #breadcrumb {
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #site-container .container #header .search-btn {
    height: 0.34rem;
    line-height: 0.4rem;
    background: transparent;
    border-bottom: none;
  }
  #site-container .container #header .search-btn input:not(.search-input),
  #site-container .container #header .search-btn .shortcut-key {
    display: none;
  }
  #site-container .container #header i.icon-search,
  #site-container .container #header i.icon-close,
  #site-container .container #header i.icon-sun,
  #site-container .container #header i.icon-moon {
    font-size: 0.2rem;
  }
  #site-container .container #header .search-mask .result-box {
    width: auto;
    top: 0.2rem;
    right: 0.2rem;
    left: 0.2rem;
  }
  #site-container .container #main {
    padding-left: 0;
    padding-right: 0;
  }
  #site-container .container #main .main-view {
    margin-right: 0;
  }
  #site-container .container #main .main-aside {
    display: none;
  }
  #pagination {
    justify-content: center;
  }
  #pagination .total,
  #pagination .number,
  #pagination .page-number {
    display: none;
  }
  #pagination .mobile-page-number {
    display: inline-block;
  }
  #categories ul.category-group {
    padding-left: 0.2rem;
  }
  #categories ul.category-group .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #categories ul.category-group .title {
    display: block;
    line-height: 1;
    margin: 0;
  }
  #categories ul.category-group .date {
    display: block;
    margin: 0;
  }
  #tags ul.tag-group {
    padding-left: 0.2rem;
  }
  #tags ul.tag-group .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #tags ul.tag-group .title {
    display: block;
    line-height: 1;
    margin: 0;
  }
  #tags ul.tag-group .date {
    display: block;
    margin: 0;
  }
  #archives .year,
  #archives .month {
    width: 0.9rem;
  }
  #archives .day-title {
    display: flex;
    align-items: center;
  }
  #archives .day-title .day {
    width: 0.9rem;
  }
  #archives .day-title .title {
    flex: 1;
  }
  #back2top {
    border-radius: 0;
    position: fixed;
    right: 0;
    bottom: 0;
  }
  #mask-layer .mask-layer-btn {
    border-radius: 0;
    top: 0;
    right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  #aside .guid .avatar-box {
    width: calc(100% - 40%);
    height: 0;
    padding-bottom: calc(100% - 40% - 0.04rem);
  }
  #header .search-mask .result-box {
    width: auto;
    top: 0.4rem;
    left: 0.4rem;
    right: 0.4rem;
  }
  #main .main-view {
    margin-right: 0;
  }
  #main .main-aside {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  #aside .guid .avatar-box {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.5rem auto 0.3rem;
  }
}
@media screen and (min-width: 1441px) {
  #main {
    padding-right: 0;
  }
  #back2top {
    right: calc((100vw - 14.4rem) / 2 + 0.3rem);
  }
}
/* media query end */
/**
bootstrap:
extra small ) 576 [ small )  768 [ medium ) 992 [ large ) 1200 [ x-large ) 1400 [ xx-large

-sm- 768 -md- 1024 -lg- 1200 -xl- 1440 -xxl- 1920 --
**/
/**
layout
|
|__ aside
|__ header
|     |
|     |__ site-menu-btn
|__ main
|     |
|     |__ home
|     |     |
|     |     |__ pagination
|     |
|     |__ category
|     |__ tag
|     |__ archives
|
|__ post
|     |
|     |__ previous-next-post
|  
|__ footer
|__ am-site-menu
**/
