html {
  height: 100%;
}
body {
  height: 100%;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
  word-wrap: break-word;
  overflow: hidden;
  font-family: Arial, "Microsoft YaHei", Consolas, KaiTi, monospace;
}
/* a tag */
a {
  color: #5bc0de;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
  outline: none;
}
a:link,
a:visited {
  text-decoration: none;
}
/* a tag end */
/* h1~h6 */
h1 {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  font-weight: 400;
  background-color: #eee;
  border-left: 5px solid #ccc;
}
/* h1~h6 end */
/* code block */
pre {
  padding: 0px;
}
pre code {
  border-radius: 5px;
  border: 1px solid #ddd;
  font-family: Consolas, "Microsoft YaHei", KaiTi, "Courier New", monospace;
}
/* code block end */
/* code */
li code,
p code {
  color: #dd1144;
  padding: 2px 4px;
  background-color: #eee;
  border: 1px solid #ddd;
  font-family: Consolas, "Microsoft YaHei", KaiTi, "Courier New", monospace;
}
/* code end */
/* 引用 */
blockquote {
  border-left: 5px solid #ccc;
  margin-left: 20px;
  padding-left: 10px;
  font-family: "Comic Sans MS", KaiTi, Consolas, "Microsoft YaHei", "Courier New", monospace;
}
/* 引用 end */
/* table */
table {
  margin-left: 30px;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
thead {
  background-color: #5bc0de;
}
tbody {
  background-color: #E7F1EE;
}
th,
td {
  padding: 6px 12px;
  border: 1px solid #ccc;
}
tbody tr:hover {
  background-color: #5bc0de;
}
/* table end */
/* selection */
::selection {
  background-color: #5bc0de;
  color: #fff;
}
::-moz-selection {
  background-color: #5bc0de;
  color: #fff;
}
/* selection end */
/* scrollbar */
/* 滚动条垂直方向的宽度与水平方向的高度 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
/* 滚动条轨道 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* 滚动条轨道上的按钮 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* 滚动条垂直方向轨道件 */
/* 滚动条按钮 */
/* 滚动条轨道上的滚动角 */
/* scrollbar end */
/* main nav */
#slide-panel {
  height: 100%;
  float: left;
}
.guid {
  width: 180px;
  height: 100%;
  float: left;
  color: #ccc;
  position: relative;
  background-color: #000000;
}
.guid .head-img-box {
  display: block;
  margin: 30px 35px 0;
}
.guid .head-img-box .head-img {
  display: block;
  width: 110px;
  height: 110px;
  text-align: center;
  line-height: 180px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-sizing: border-box;
}
.guid ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
.guid ul li {
  padding: 10px 30px;
  cursor: pointer;
  display: flex;
  flex-wrap: row nowrap;
  align-items: stretch;
  justify-content: space-around;
}
.guid .my-msg {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
/* main nav end */
/* article、categories、tags common style */
.page-item {
  width: 300px;
  height: 100%;
  float: left;
  overflow-y: auto;
  display: none;
}
.ul-style ul {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}
.ul-style ul li {
  color: rgba(0, 0, 0, 0.6);
}
.ul-style ul li a {
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  box-sizing: border-box;
  padding: 5px 0 5px 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ul-style ul li a:hover {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
.ul-style ul li.active a {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
.ul-style ul .date-tip {
  font-size: 14px;
  color: #dd1144;
  font-family: "Comic Sans MS", KaiTi, Consolas, "Microsoft YaHei", "Courier New", monospace;
}
/* article、categories、tags common style end */
/* article */
.articles-all {
  display: block;
}
.articles-all .head-img-min {
  height: 50px;
  display: none;
}
.articles-all .head-img-min img {
  height: 100%;
}
.articles-all ul {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}
.articles-all ul li {
  color: rgba(0, 0, 0, 0.6);
}
.articles-all ul li a {
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  box-sizing: border-box;
  padding: 5px 0 5px 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.articles-all ul li a:hover {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
.articles-all ul li.active a {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
.articles-all ul .date-tip {
  font-size: 14px;
  color: #dd1144;
  font-family: "Comic Sans MS", KaiTi, Consolas, "Microsoft YaHei", "Courier New", monospace;
}
/* article end */
/* categories */
.category-all {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.category-all .category-index {
  padding: 5px 5%;
  color: #B5AFAF;
  min-height: 230px;
  overflow-y: auto;
}
.category-all .category-index .category-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 5px 0;
  cursor: pointer;
  border-bottom: 1px solid #B5AFAF;
}
.category-all .category-index .category-item .category-size {
  padding: 0 10px;
  border: 1px solid #B5AFAF;
  border-radius: 15px;
}
.category-all .category-index .category-item.active {
  color: rgba(0, 0, 0, 0.6);
}
.category-all .category-index .category-item.active .category-size {
  border-color: rgba(0, 0, 0, 0.6);
}
.category-all .category-index .category-item:hover {
  color: rgba(0, 0, 0, 0.6);
}
.category-all .category-index .category-item:hover .category-size {
  border-color: rgba(0, 0, 0, 0.6);
}
.category-all .category-box {
  overflow-y: auto;
}
.category-all ul {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}
.category-all ul li {
  color: rgba(0, 0, 0, 0.6);
}
.category-all ul li a {
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  box-sizing: border-box;
  padding: 5px 0 5px 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category-all ul li a:hover {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
.category-all ul li.active a {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
.category-all ul .date-tip {
  font-size: 14px;
  color: #dd1144;
  font-family: "Comic Sans MS", KaiTi, Consolas, "Microsoft YaHei", "Courier New", monospace;
}
/* categories end */
/* tags */
.tags-all {
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}
.tags-all .tags-index {
  padding: 5px 5%;
  color: #B5AFAF;
  min-height: 260px;
  overflow-y: auto;
}
.tags-all .tags-index:after {
  content: "";
  display: block;
  padding: 5px 0;
  border-bottom: 1px dashed #B5AFAF;
}
.tags-all .tags-index .tags-item {
  cursor: pointer;
  margin-right: 10px;
  white-space: nowrap;
}
.tags-all .tags-index .tags-item.active {
  color: rgba(0, 0, 0, 0.6);
}
.tags-all .tags-index .tags-item:hover {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
}
.tags-all .tags-box {
  overflow-y: auto;
}
.tags-all ul {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}
.tags-all ul li {
  color: rgba(0, 0, 0, 0.6);
}
.tags-all ul li a {
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  box-sizing: border-box;
  padding: 5px 0 5px 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tags-all ul li a:hover {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
.tags-all ul li.active a {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
.tags-all ul .date-tip {
  font-size: 14px;
  color: #dd1144;
  font-family: "Comic Sans MS", KaiTi, Consolas, "Microsoft YaHei", "Courier New", monospace;
}
/* tags end */
/* 日志展示 */
#contents {
  height: 100%;
  margin: 0;
  padding: 0 20px;
  overflow-y: auto;
}
#contents .contents-box {
  width: 100%;
  min-height: 570px;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
}
#contents .contents-box .date-tags {
  color: #bbb;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
}
#contents .contents-box .date-tags .date {
  margin-right: 20px;
}
#contents .contents-box .page-previous {
  float: left;
  width: 100px;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 15px 0;
}
#contents .contents-box .page-next {
  float: right;
  width: 100px;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 15px 0;
}
#contents .contents-box:after {
  content: '';
  display: block;
  clear: both;
}
#contents .contents-box img {
  width: auto;
  max-width: 100%;
}
/* 日志展示 end */
/* copyright */
#copyright {
  margin-top: 60px;
  text-align: center;
}
/* copyright end */
/* slider btn */
#slider {
  width: 40px;
  height: 40px;
  background-color: #5bc0de;
  cursor: pointer;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 2;
  font-size: 1.875em;
}
#icon-slider {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
#icon-slider.fullscreen {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* slider btn end */
/* sidebar btn */
#sidebar-btn {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 0;
  background-color: #5bc0de;
  color: #ffffff;
  cursor: pointer;
  position: fixed;
  right: 15px;
  bottom: 66px;
  border-radius: 50%;
  padding: 13px 11px;
  box-sizing: border-box;
}
#sidebar-btn .sidebar-line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
#sidebar-btn .sidebar-line-middle {
  margin: 4px 0;
}
#sidebar-btn.show .sidebar-line-first {
  transform: translateX(-3px) rotate(-45deg);
  transform-origin: 100% 50%;
}
#sidebar-btn.show .sidebar-line-middle {
  opacity: 0;
}
#sidebar-btn.show .sidebar-line-last {
  transform: translateX(-3px) rotate(45deg);
  transform-origin: 100% 50%;
}
/* sidebar btn end */
/* sidebar panel */
#sidebar-panel {
  width: 280px;
  max-height: 90%;
  overflow-y: auto;
  padding-left: 3px;
  background-color: #ccc;
  position: fixed;
  right: -280px;
  bottom: 0;
}
#sidebar-panel .sidebar-panel-box {
  background-color: #ffffff;
  background-clip: content-box;
}
#sidebar-panel .pin {
  width: 100%;
  height: 24px;
  border-left: 3px solid #5bc0de;
  background-color: #eee;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 5px;
}
#sidebar-panel .sidebar-panel-ul {
  list-style: none;
  padding: 5px 0 5px 0.625em;
  position: relative;
  margin: 0;
}
#sidebar-panel .sidebar-panel-ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#sidebar-panel .sidebar-panel-ul li a {
  color: rgba(0, 0, 0, 0.6);
}
#sidebar-panel .sidebar-panel-ul li a:hover {
  text-decoration: underline;
}
#sidebar-panel .sidebar-panel-ul li a:active,
#sidebar-panel .sidebar-panel-ul li a:focus,
#sidebar-panel .sidebar-panel-ul li a:visited {
  text-decoration: none;
}
#sidebar-panel .sidebar-panel-ul .li-h2 {
  padding-left: 1em;
}
#sidebar-panel .sidebar-panel-ul .li-h3 {
  padding-left: 2em;
}
#sidebar-panel .sidebar-panel-ul .li-h4 {
  padding-left: 3em;
}
#sidebar-panel .sidebar-panel-ul .li-h5 {
  padding-left: 4em;
}
#sidebar-panel .sidebar-panel-ul .li-h6 {
  padding-left: 5em;
}
/* sidebar panel end */
/* back2top btn */
#back2top {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  font-size: 30px;
  background-color: #5bc0de;
  color: #ffffff;
  cursor: pointer;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  display: none;
}
/* back2top btn end */
/* use animation */
#contents.fade-in {
  -webkit-animation: fade-in 0.3s;
  -moz-animation: fade-in 0.3s;
  -ms-animation: fade-in 0.3s;
  -o-animation: fade-in 0.3s;
  animation: fade-in 0.3s;
}
#contents.fade-out {
  -webkit-animation: fade-out 0.2s;
  -moz-animation: fade-out 0.2s;
  -ms-animation: fade-out 0.2s;
  -o-animation: fade-out 0.2s;
  animation: fade-out 0.2s;
}
/* use animation end */
/* fade-in style */
@-webkit-keyframes fade-in {
  from {
    -webkit-transform: translateY(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    -moz-transform: translateY(30px);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    -ms-transform: translateY(30px);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    -o-transform: translateY(30px);
    opacity: 0;
  }
  to {
    -o-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* fade-in style end */
/* fade-out style */
@-webkit-keyframes fade-out {
  from {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-30px);
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    -moz-transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(-30px);
    opacity: 0;
  }
}
@-ms-keyframes fade-out {
  from {
    -ms-transform: translateY(0);
    opacity: 1;
  }
  to {
    -ms-transform: translateY(-30px);
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  from {
    -o-transform: translateY(0);
    opacity: 1;
  }
  to {
    -o-transform: translateY(-30px);
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}
/* fade-out style end */
/* media query */
@media screen and (max-width: 640px) {
  #slide-panel {
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  #slide-panel .guid {
    display: none;
  }
  #slide-panel .articles-all {
    width: 100%;
    background-color: rgba(213, 213, 213, 0.9);
  }
  #slide-panel .articles-all .head-img-min {
    display: block;
  }
  #slider {
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0%;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  #index-btn {
    position: fixed;
    bottom: 51px;
    right: 0;
  }
  #back2top {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
@media screen and (min-width: 641px) and (max-width: 1023px) {
  #slide-panel {
    position: absolute;
    z-index: 1;
  }
  .page-item {
    background-color: #f3f3f3;
  }
  .contents-box {
    max-width: 800px;
  }
}
@media screen and (min-width: 800px) {
  #contents {
    background-color: #eee;
  }
  #contents .contents-box {
    padding: 0 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #bbb;
  }
  #contents .contents-box.fullscreen {
    max-width: 800px;
  }
}
@media screen and (min-width: 1024px) {
  .page-item {
    opacity: 0.2;
    background-color: #f9f9f9;
  }
  .page-item:hover {
    opacity: 1;
    background-color: #f9f9f9;
  }
}
/* media query end */
