#index-container #canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
#index-container img {
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}
#index-container .breathe {
  width: 120px;
  height: 120px;
  box-shadow: 0 0 30px #fff inset;
  -webkit-animation: ani-breathe 5s infinite;
  -moz-animation: ani-breathe 5s infinite;
  -ms-animation: ani-breathe 5s infinite;
  -o-animation: ani-breathe 5s infinite;
  animation: ani-breathe 5s infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}
.public-style {
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}
@-webkit-keyframes ani-breathe {
  0% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@-moz-keyframes ani-breathe {
  0% {
    -moz-transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.5, 1.5);
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}
@-ms-keyframes ani-breathe {
  0% {
    -ms-transform: scale(1, 1);
  }
  50% {
    -ms-transform: scale(1.5, 1.5);
  }
  100% {
    -ms-transform: scale(1, 1);
  }
}
@-o-keyframes ani-breathe {
  0% {
    -o-transform: scale(1, 1);
  }
  50% {
    -o-transform: scale(1.5, 1.5);
  }
  100% {
    -o-transform: scale(1, 1);
  }
}
@keyframes ani-breathe {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
html {
  height: 100%;
}
body {
  height: 100%;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
  overflow: hidden;
  font-family: Arial, "Microsoft YaHei", Consolas, KaiTi, monospace;
}
/* a tag */
a {
  color: #5bc0de;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
  outline: none;
}
a:link,
a:visited {
  text-decoration: none;
}
/* a tag end */
/* h1~h6 */
h1 {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  padding-top: 20px;
}
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
  content: '#';
  color: #5bc0de;
  margin-right: 10px;
}
/* h1~h6 end */
/* code block */
pre {
  padding: 0px;
}
pre code {
  border-radius: 5px;
  font-family: Consolas, "Microsoft YaHei", KaiTi, "Courier New", monospace;
}
/* code block end */
/* code */
li code,
p code {
  color: #dd1144;
  padding: 2px 4px;
  background-color: #eee;
  border: 1px solid #ddd;
  font-family: Consolas, "Microsoft YaHei", KaiTi, "Courier New", monospace;
}
/* code end */
/* 引用 */
blockquote {
  background-color: #eee;
  border-left: 5px solid #ccc;
  margin-left: 20px;
  padding-left: 10px;
  font-family: "Comic Sans MS", KaiTi, Consolas, "Microsoft YaHei", "Courier New", monospace;
}
/* 引用 end */
/* table */
table {
  margin-left: 30px;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
thead {
  background-color: #5bc0de;
}
tbody {
  background-color: #E7F1EE;
}
th,
td {
  padding: 6px 12px;
  border: 1px solid #ccc;
}
tbody tr:hover {
  background-color: #5bc0de;
}
/* table end */
/* selection */
::selection {
  background-color: #5bc0de;
  color: #fff;
}
::-moz-selection {
  background-color: #5bc0de;
  color: #fff;
}
/* selection end */
/* scrollbar */
/* 滚动条垂直方向的宽度与水平方向的高度 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
/* 滚动条轨道 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* 滚动条轨道上的按钮 */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
/* 滚动条垂直方向轨道件 */
/* 滚动条按钮 */
/* 滚动条轨道上的滚动角 */
/* scrollbar end */
/* main nav */
#slide-panel {
  height: 100%;
  float: left;
}
.guid {
  width: 180px;
  height: 100%;
  float: left;
  color: #ccc;
  position: relative;
  background-color: #000000;
}
.guid .head-img-box {
  display: block;
  margin: 30px 35px 0;
}
.guid .head-img-box .head-img {
  display: block;
  width: 110px;
  height: 110px;
  text-align: center;
  line-height: 180px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-sizing: border-box;
}
.guid ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
.guid ul li.guid-item {
  padding: 10px 30px;
  cursor: pointer;
  text-align: center;
  color: #5bc0de;
  /*
            display: flex;
            flex-wrap: row nowrap;
            align-items: stretch;
            justify-content: space-around;
            */
}
.guid ul li.guid-item:hover {
  color: #ffffff;
}
.guid ul li.active {
  color: #ffffff;
}
.guid .my-msg {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.guid .my-msg a:hover {
  color: #ffffff;
}
/* main nav end */
/* article、categories、tags common style */
.page-item {
  width: 300px;
  height: 100%;
  float: left;
  overflow-y: auto;
  display: none;
}
.ul-style ul {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}
.ul-style ul li {
  color: rgba(0, 0, 0, 0.6);
}
.ul-style ul li a {
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  box-sizing: border-box;
  padding: 5px 0 5px 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ul-style ul li a:hover {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
.ul-style ul li.active a {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
/* article、categories、tags common style end */
/* article */
.articles-all {
  display: block;
}
.articles-all .head-img-min {
  height: 50px;
  display: none;
}
.articles-all .head-img-min img {
  height: 100%;
}
.articles-all ul {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}
.articles-all ul li {
  color: rgba(0, 0, 0, 0.6);
}
.articles-all ul li a {
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  box-sizing: border-box;
  padding: 5px 0 5px 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.articles-all ul li a:hover {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
.articles-all ul li.active a {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
.articles-all .date-tip {
  font-size: 14px;
  color: #dd1144;
  font-family: "Comic Sans MS", KaiTi, Consolas, "Microsoft YaHei", "Courier New", monospace;
}
/* article end */
/* categories */
.category-all {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.category-all .category-index {
  padding: 5px 5%;
  color: #B5AFAF;
  min-height: 230px;
  overflow-y: auto;
}
.category-all .category-index .category-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 5px 0;
  cursor: pointer;
  border-bottom: 1px solid #B5AFAF;
}
.category-all .category-index .category-item .category-size {
  padding: 0 10px;
  border: 1px solid #B5AFAF;
  border-radius: 15px;
}
.category-all .category-index .category-item.active {
  color: rgba(0, 0, 0, 0.6);
}
.category-all .category-index .category-item.active .category-size {
  border-color: rgba(0, 0, 0, 0.6);
}
.category-all .category-index .category-item:hover {
  color: rgba(0, 0, 0, 0.6);
}
.category-all .category-index .category-item:hover .category-size {
  border-color: rgba(0, 0, 0, 0.6);
}
.category-all .category-box {
  overflow-y: auto;
}
.category-all ul {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}
.category-all ul li {
  color: rgba(0, 0, 0, 0.6);
}
.category-all ul li a {
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  box-sizing: border-box;
  padding: 5px 0 5px 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category-all ul li a:hover {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
.category-all ul li.active a {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
/* categories end */
/* tags */
.tags-all {
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}
.tags-all .tags-index {
  padding: 5px 5%;
  color: #B5AFAF;
  min-height: 260px;
  overflow-y: auto;
}
.tags-all .tags-index:after {
  content: "";
  display: block;
  padding: 5px 0;
  border-bottom: 1px dashed #B5AFAF;
}
.tags-all .tags-index .tags-item {
  cursor: pointer;
  margin-right: 10px;
  white-space: nowrap;
}
.tags-all .tags-index .tags-item.active {
  color: rgba(0, 0, 0, 0.6);
}
.tags-all .tags-index .tags-item:hover {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
}
.tags-all .tags-box {
  overflow-y: auto;
}
.tags-all ul {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}
.tags-all ul li {
  color: rgba(0, 0, 0, 0.6);
}
.tags-all ul li a {
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  box-sizing: border-box;
  padding: 5px 0 5px 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tags-all ul li a:hover {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
.tags-all ul li.active a {
  background-color: rgba(217, 217, 217, 0.9);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-left: 5px solid #5bc0de;
}
/* tags end */
/* 日志展示 */
#contents {
  height: 100%;
  margin: 0;
  padding: 0 20px;
  overflow-y: auto;
}
#contents .contents-box {
  width: 100%;
  min-height: 570px;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
  word-break: break-all;
  border-radius: 0 0 5px 5px;
}
#contents .contents-box .date-tags {
  color: #bbb;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
}
#contents .contents-box .date-tags .date {
  margin-right: 20px;
}
#contents .contents-box .page-previous {
  float: left;
  width: 100px;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 15px 0;
}
#contents .contents-box .page-next {
  float: right;
  width: 100px;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 15px 0;
}
#contents .contents-box:after {
  content: '';
  display: block;
  clear: both;
}
#contents .contents-box img {
  width: auto;
  max-width: 100%;
  cursor: -webkit-zoom-in;
}
/* 日志展示 end */
/* copyright */
#copyright {
  margin-top: 60px;
  text-align: center;
}
/* copyright end */
/* toggle btn */
#toggle {
  width: 40px;
  height: 40px;
  background-color: #5bc0de;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  font-size: 0;
  box-sizing: border-box;
  padding: 14px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 4;
}
#toggle .toggle-line {
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
#toggle .toggle-line-first {
  margin-bottom: 4px;
  -webkit-transform: translateY(1px) rotate(-45deg);
  -moz-transform: translateY(1px) rotate(-45deg);
  -ms-transform: translateY(1px) rotate(-45deg);
  -o-transform: translateY(1px) rotate(-45deg);
  transform: translateY(1px) rotate(-45deg);
}
#toggle .toggle-line-last {
  margin-top: 4px;
  -webkit-transform: translateY(-1px) rotate(45deg);
  -moz-transform: translateY(-1px) rotate(45deg);
  -ms-transform: translateY(-1px) rotate(45deg);
  -o-transform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}
#toggle.fullscreen .toggle-line-first {
  -webkit-transform: translateY(1px) rotate(45deg);
  -moz-transform: translateY(1px) rotate(45deg);
  -ms-transform: translateY(1px) rotate(45deg);
  -o-transform: translateY(1px) rotate(45deg);
  transform: translateY(1px) rotate(45deg);
}
#toggle.fullscreen .toggle-line-last {
  -webkit-transform: translateY(-1px) rotate(-45deg);
  -moz-transform: translateY(-1px) rotate(-45deg);
  -ms-transform: translateY(-1px) rotate(-45deg);
  -o-transform: translateY(-1px) rotate(-45deg);
  transform: translateY(-1px) rotate(-45deg);
}
/* toggle btn end */
/* sidebar btn */
#sidebar-btn {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 0;
  background-color: #5bc0de;
  cursor: pointer;
  border-radius: 50%;
  padding: 13px 11px;
  box-sizing: border-box;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 2;
}
#sidebar-btn .sidebar-line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
#sidebar-btn .sidebar-line-middle {
  margin: 4px 0;
}
#sidebar-btn.show .sidebar-line-first {
  -webkit-transform: translateX(-3px) rotate(-45deg);
  -moz-transform: translateX(-3px) rotate(-45deg);
  -ms-transform: translateX(-3px) rotate(-45deg);
  -o-transform: translateX(-3px) rotate(-45deg);
  transform: translateX(-3px) rotate(-45deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
#sidebar-btn.show .sidebar-line-middle {
  opacity: 0;
}
#sidebar-btn.show .sidebar-line-last {
  -webkit-transform: translateX(-3px) rotate(45deg);
  -moz-transform: translateX(-3px) rotate(45deg);
  -ms-transform: translateX(-3px) rotate(45deg);
  -o-transform: translateX(-3px) rotate(45deg);
  transform: translateX(-3px) rotate(45deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
/* sidebar btn end */
/* sidebar panel */
#sidebar-panel {
  width: 270px;
  max-height: 90%;
  overflow-y: auto;
  padding-left: 3px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -1px 5px #cccccc;
  background-color: #ccc;
  position: fixed;
  right: -275px;
  bottom: 0;
  z-index: 1;
}
#sidebar-panel .sidebar-panel-box {
  background-color: #ffffff;
  background-clip: content-box;
}
#sidebar-panel .pin {
  width: 100%;
  height: 24px;
  border-left: 3px solid #5bc0de;
  background-color: rgba(217, 217, 217, 0.9);
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 5px;
  -webkit-transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
#sidebar-panel .sidebar-panel-ul {
  list-style: none;
  padding: 5px 0 5px 0.625em;
  position: relative;
  margin: 0;
}
#sidebar-panel .sidebar-panel-ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#sidebar-panel .sidebar-panel-ul li a {
  color: rgba(0, 0, 0, 0.6);
}
#sidebar-panel .sidebar-panel-ul li a:hover {
  text-decoration: underline;
}
#sidebar-panel .sidebar-panel-ul li a:active,
#sidebar-panel .sidebar-panel-ul li a:focus,
#sidebar-panel .sidebar-panel-ul li a:visited {
  text-decoration: none;
}
#sidebar-panel .sidebar-panel-ul .li-h3 {
  padding-left: 1em;
}
#sidebar-panel .sidebar-panel-ul .li-h4 {
  padding-left: 2em;
}
#sidebar-panel .sidebar-panel-ul .li-h5 {
  padding-left: 3em;
}
#sidebar-panel .sidebar-panel-ul .li-h6 {
  padding-left: 4em;
}
/* sidebar panel end */
/* back2top btn */
#back2top {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 0;
  background-color: #5bc0de;
  cursor: pointer;
  position: fixed;
  right: 15px;
  bottom: 65px;
  border-radius: 50%;
  display: none;
  z-index: 2;
  padding: 12px 14px;
  box-sizing: border-box;
}
#back2top .bt-line {
  height: 2px;
  width: 100%;
  display: inline-block;
  background-color: #ffffff;
}
#back2top .bt-line-first {
  margin-top: 6px;
  -webkit-transform: translate(4px, 0) rotate(45deg);
  -moz-transform: translate(4px, 0) rotate(45deg);
  -ms-transform: translate(4px, 0) rotate(45deg);
  -o-transform: translate(4px, 0) rotate(45deg);
  transform: translate(4px, 0) rotate(45deg);
}
#back2top .bt-line-last {
  -webkit-transform: translate(-4px, -2px) rotate(-45deg);
  -moz-transform: translate(-4px, -2px) rotate(-45deg);
  -ms-transform: translate(-4px, -2px) rotate(-45deg);
  -o-transform: translate(-4px, -2px) rotate(-45deg);
  transform: translate(-4px, -2px) rotate(-45deg);
}
/* back2top btn end */
/* use animation */
#contents.fade-in {
  -webkit-animation: fade-in 0.3s;
  -moz-animation: fade-in 0.3s;
  -ms-animation: fade-in 0.3s;
  -o-animation: fade-in 0.3s;
  animation: fade-in 0.3s;
}
#contents.fade-out {
  -webkit-animation: fade-out 0.2s;
  -moz-animation: fade-out 0.2s;
  -ms-animation: fade-out 0.2s;
  -o-animation: fade-out 0.2s;
  animation: fade-out 0.2s;
}
/* use animation end */
/* fade-in style */
@-webkit-keyframes fade-in {
  from {
    -webkit-transform: translateY(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    -moz-transform: translateY(30px);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    -ms-transform: translateY(30px);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    -o-transform: translateY(30px);
    opacity: 0;
  }
  to {
    -o-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* fade-in style end */
/* fade-out style */
@-webkit-keyframes fade-out {
  from {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-30px);
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    -moz-transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(-30px);
    opacity: 0;
  }
}
@-ms-keyframes fade-out {
  from {
    -ms-transform: translateY(0);
    opacity: 1;
  }
  to {
    -ms-transform: translateY(-30px);
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  from {
    -o-transform: translateY(0);
    opacity: 1;
  }
  to {
    -o-transform: translateY(-30px);
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}
/* fade-out style end */
/* media query */
@media screen and (max-width: 640px) {
  #slide-panel {
    position: absolute;
    z-index: 3;
    width: 100%;
  }
  #slide-panel .guid {
    display: none;
  }
  #slide-panel .articles-all {
    width: 100%;
    background-color: rgba(213, 213, 213, 0.9);
  }
  #slide-panel .articles-all .head-img-min {
    display: block;
  }
  #toggle {
    width: 50px;
    height: 50px;
    padding: 19px;
    opacity: 0.5;
    border-radius: 0%;
    position: fixed;
    top: 0;
    right: 0;
  }
  #back2top {
    position: fixed;
    right: 0;
    bottom: 50px;
  }
  #sidebar-btn {
    position: fixed;
    right: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 641px) and (max-width: 1023px) {
  #slide-panel {
    position: absolute;
    z-index: 3;
  }
  .page-item {
    background-color: #f3f3f3;
  }
  .contents-box {
    max-width: 800px;
  }
}
@media screen and (min-width: 800px) {
  #contents {
    background-color: #eee;
  }
  #contents .contents-box {
    padding: 0 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #bbb;
  }
  #contents .contents-box.fullscreen {
    max-width: 800px;
  }
}
@media screen and (min-width: 1024px) {
  .page-item {
    opacity: 0.5;
    background-color: #f9f9f9;
  }
  .page-item:hover {
    opacity: 1;
    background-color: #f9f9f9;
  }
}
/* media query end */
/* mask layer */
#mask-layer {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
#mask-layer .mask-layer-box {
  width: 100%;
  height: 100%;
  display: table;
  line-height: 0;
}
#mask-layer .mask-layer-box .mask-layer-img {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
#mask-layer .mask-layer-btn {
  width: 40px;
  height: 40px;
  background-color: #5bc0de;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
  padding: 13px 11px;
  box-sizing: border-box;
  position: fixed;
  top: 15px;
  right: 15px;
}
#mask-layer .mask-layer-btn .mask-layer-line {
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: #ffffff;
}
#mask-layer .mask-layer-btn .mask-layer-line-first {
  margin-bottom: 5px;
  -webkit-transform: translateX(-3px) rotate(-45deg);
  -moz-transform: translateX(-3px) rotate(-45deg);
  -ms-transform: translateX(-3px) rotate(-45deg);
  -o-transform: translateX(-3px) rotate(-45deg);
  transform: translateX(-3px) rotate(-45deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
#mask-layer .mask-layer-btn .mask-layer-line-last {
  margin-top: 5px;
  -webkit-transform: translateX(-3px) rotate(45deg);
  -moz-transform: translateX(-3px) rotate(45deg);
  -ms-transform: translateX(-3px) rotate(45deg);
  -o-transform: translateX(-3px) rotate(45deg);
  transform: translateX(-3px) rotate(45deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
/* mask layer end */
