---
layout: default
title: Archives
permalink: /archives
---

<ul id="archives">
  {% for post in site.posts %}

    {% unless post.next %}
      <h1>{{ post.date | date: "%Y" }}</h1>
    {% else %}
      {% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: "%Y" }}{% endcapture %}
      {% if year != nyear %}
        <h1>{{ post.date | date: "%Y" }}</h1>
      {% endif %}
    {% endunless %}

    {% capture month %}{{ post.date | date: "%b" }}{% endcapture %}
    {% capture nmonth %}{{ post.next.date | date: "%b" }}{% endcapture %}

    {% if month != nmonth %}
      <h2>{{ month }}</h2>
    {% endif %}
    <!-- {{ month }}
    {{ nmonth }} -->

    <li>
      {{ post.date | date: "%d" }}
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </li>
  {% endfor %}
</ul>