---
layout: default
title: Tags
permalink: /tags
---

<div id="tags">
  <!-- <h1>标签</h1> -->

  {% assign tags = "" | split: "" %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  <ul class="tag-inline-block p-0 m-0">
    {% for tag in sorted_tags %}
    <li>
      <!-- <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}">{{ tag }}</a> -->
      <a href="#{{ tag | slugify | url_encode }}">
        <span class="name">{{ tag }}</span>
        <span class="count">{{ site.tags[tag] |size }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>

  {% for tag in sorted_tags %}
    <h3 class="tag-anchor-point #{{ tag | slugify | url_encode }}">{{ tag }}</h3>

    <ul class="tag-group">
      {% for post in site.tags[tag] %}
      <li>
        <div class="box">
          <a class="title" href="{{ post.url | relative_url}}">{{ post.title }}</a>
          <span class="line-dashed"></span>
          <span class="date text-tip">{{ post.date | date: "%b %d, %Y" }}</span>
        </div>
      </li>
      {% endfor %}
    </ul>

  {% endfor %}
</div>

<script>
const setActive = (key) => {
  const el = document.getElementsByClassName(key)[0];
  el.scrollIntoView({
    behavior: 'smooth'
  })
  // TODO active status
  // document.getElementsByClassName('tag-anchor-point').style.color = 'black'
  // el.style.color = 'red';
}

window.onload = () => {
  // 初始化标签
  const key = location.hash;
  if (key) setActive(key);

  // 点击标签
  document.getElementsByClassName('tag-inline-block')[0].addEventListener('click', (e) => {
    setTimeout(() => {
      const key = location.hash;
      setActive(key);
    }, 100)
  })
  document.querySelector('#trending-tags').addEventListener('click', (e) => {
    if (e.target.tagName === 'SPAN') {
      setTimeout(() => {
        const key = location.hash;
        setActive(key);
      }, 100)
    }
  })
  document.querySelector('.search-mask .res-tag-group').addEventListener('click', (e) => {
    if (e.target.tagName === 'A') {
      setTimeout(() => {
        const key = location.hash;
        setActive(key);
      }, 100)
    }
  })
}
</script>