---
layout: default
title: Tags
permalink: /tags
---

<div id="tags">
  <!-- <h1>标签</h1> -->

  {% assign tags = "" | split: "" %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  <ul class="tag-inline-block p-0">
    {% for tag in sorted_tags %}
    <li>
      <!-- <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}">{{ tag }}</a> -->
      <a href="#{{ tag | slugify }}">
        <span class="name">{{ tag }}</span>
        <span class="count">{{ site.tags[tag] |size }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>

  {% for tag in sorted_tags %}
    <h3 id="{{ tag | slugify }}" class="tag-anchor-point">{{ tag }}</h3>

    <ul>
      {% for post in site.tags[tag] %}
      <li>
        <a href="{{ post.url | relative_url}}">{{ post.title }}</a>
        <span class="line-dashed"></span>
        <span class="text-tip">{{ post.date | date: "%b %e, %Y" }}</span>
      </li>
      {% endfor %}
    </ul>

  {% endfor %}
</div>