---
layout: default
title: Tags
permalink: /tags
---

<!-- <ul>
  {% for tag in site.tags %}
  <li>
    <a href="{{ tag | first }}">
      {{ tag | first }}: {{ tag | last | size }} <br />
    </a>
    <ul>
      {% for post in tag.last %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
        {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul> -->


<ul class="tags">
  {% for tag in site.tags %}
  <li>
      <a href="{{ tag | first }}">{{ tag | first }}</a> <sup>{{ tag | last |size }}</sup>
  </li>
  {% endfor %}
</ul>

<!-- <ul class="listing">
  {% for tag in site.tags %}
  <li class="listing-seperator" id="{{ tag[0] }}">{{ tag[0] }}</li>
  {% for post in tag[1] %}
  <li class="listing-item">
      <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </li>
  {% endfor %}
{% endfor %}
</ul> -->