---
layout: default
# The layout for Tag page
---

<div id="tag">
  <h1>
    <!-- <i class="fa fa-tag fa-fw text-muted"></i> -->
    {{ page.title }}
    <span class="text-tip f-s-14">{{ page.posts | size }} Posts</span>
  </h1>
  <ul class="p-0">
    {% assign post_long_df = site.data.date_format.post.long | default: '%b %e, %Y' %}

    {% for post in page.posts %}
    <li>
      <span><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span>
      <span class="line-dashed"></span>
      <span class="text-tip">{{ post.date | date: post_long_df }}</span>
    </li>
    {% endfor %}
  </ul>
</div>
